[2018-10-10 12:13] matteopiccioni opened #1 "Schedule Notification"
Hello is possibile to schedule notification for a future date?
Will this notification persist after phone reboot?
Thanks for your plugin!

[2018-10-11 06:51] matteopiccioni commented on #1
Thanks for answer

[2018-10-12 02:39] tmt242001 commented on #1
Now it is possible to Schedule local notification.
https://www.nuget.org/packages/Plugin.LocalNotification/2.0.0

[2018-10-12 02:39] #1 closed

[2018-10-16 10:07] kelvin195eclipse opened #4 "Notifications working but no alert sound"
Hi,

First of all, thanks and appreciate for the effort of creating this plugin, it is working in anywhere accept no alert sound or ring when notification appears, seeking fo help.

Thank you =)

[2018-10-16 19:39] tmt242001 commented on #4
Hi, can you check your device settings ?

![screenshot_20181017-083524](https://user-images.githubusercontent.com/4112014/47042568-146b6300-d1e8-11e8-9676-cb08cf6ebf00.png)

![screenshot_20181017-083542](https://user-images.githubusercontent.com/4112014/47042577-1a614400-d1e8-11e8-99e6-a3eea8c731f5.png)

[2018-10-29 19:30] tmt242001 commented on #4
Assume issue if fix now

[2018-11-26 22:47] nbsoftware commented on #4
Hello,
Still no sound for me on iOS 12 with latest version of the plugin.
Am I missing something?
(Sound is there on Android)

[2018-11-26 22:55] tmt242001 commented on #4
Hi @nbsoftware, do you know the last good version that it worked ?

[2018-11-26 22:59] nbsoftware commented on #4
Halas, I only discovered your plugin today and started to use it.
Works really great apart from this annoying no sound in iOS.
I have not used any other version than the latest 2.0.3.
Sorry to not being more helpful.

[2018-11-26 23:09] nbsoftware opened #6 "[iOS] Tapped Handler not fired if ReturningData is set to null"
I've spent a significant amount of time on this: the tap handler does not fire if `ReturningData` is not set.
Seems to be the case only for iOS.

[2018-11-26 23:20] masonyc commented on #4
I have tested it out in the sample project and it does make some sound. When you test it, is the application in background state? If the application is open then it will only shows the notification without making any sound. This is the default notification design by Apple.

[2018-11-26 23:55] tmt242001 commented on #4
https://developer.apple.com/documentation/uikit/uilocalnotification

When the system delivers a local notification, several things can happen, depending on the app state and the type of notification. If the app is **not** frontmost and visible, the system displays the alert message, badges the app, and plays a sound

[2018-11-27 01:39] tmt242001 commented on #6
Fixed in v2.0.4

[2018-11-27 01:39] #6 closed

[2018-11-27 10:31] nbsoftware commented on #4
Aaaah... I've test extensively (not so easy for me to trigger the local notification while in the background but I did succeed eventually) and you are right!
On iOS, sound is played *only* when app is not in foreground.
My bad.
Many thanks for the precision and great working component compared to many other buggy implementations out there.
Keep up the good work!

[2018-11-27 18:58] #4 closed

[2018-11-30 05:14] LeoJHarris opened #8 "Exception thrown 'java.lang.NoSuchMethodError' on calling notificationService.Show(notification);"
Hi there using your plugin with XF 3.4 and target android API level 28, minimum API level 21.

I am getting the following exception:

referenceTable head length=54 111-30 18:09:52.458 F/art     ( 5985): art/runtime/check_jni.cc:65] JNI DETECTED ERROR IN APPLICATION: JNI CallObjectMethodA called with pending exception 'java.lang.NoSuchMethodError' thrown in void mono.java.lang.RunnableImplementor.n

[2018-11-30 05:45] tmt242001 commented on #8
Please attach a sample solution

[2018-11-30 10:30] masonyc commented on #8
I think your exception starts at here ILocalNotificationService notificationService = DependencyService.Get(); . Change it to ILocalNotificationService notificationService = DependencyService.Get<ILocalNotificationService>();

[2019-01-31 02:08] LeoJHarris commented on #8
@tmt242001 Hi sorry for the delay, regarding the exception above I was able to resolve that particular issue. However I am currently getting an the following exception on the same line:

Java.Lang.NoSuchMethodError: no non-static method "Landroid/content/ContextWrapper;.checkSelfPermission(Ljava/lang/String;)I"

Now the issue is only happening on Android 5.1 (tested on both a tablet device and pho

[2019-01-31 02:10] LeoJHarris commented on #8
@tmt242001 tested using your sample with nuget package

[2019-01-31 04:18] tmt242001 commented on #8
fixed in V2.0.6

[2019-01-31 04:18] #8 closed

[2019-02-03 16:10] hyurii opened #10 "App crashed when notification comes after closing app."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. schedule notification for later , one minute for example
2. Build and run sample project
3.  Click notification send button
4. Close application
5. Wait for crash notification

**Expected behavior**
Notification comes like when application is opened

**Smartphone (please c

[2019-02-03 22:01] tmt242001 commented on #10
fixed in v2.0.7

[2019-02-03 22:01] #10 closed

[2019-02-04 01:41] masonyc opened #11 "[iOS] Badge not get cleared after reading the notification"
**Describe the bug**
Badge on app is not cleared after reading the local notification

**To Reproduce**
Steps to reproduce the behavior:
1. Send some local notification.
2. Read it.
3. Badge still hangs on app icon

**Expected behavior**
Badge should be cleared

**Platform (please complete the following information):**
 - OS: iOS
 - Version 10+

[2019-02-04 02:05] #11 closed

[2019-02-26 18:55] someelse opened #14 "Plugin.LocalNotification and System.ServiceModel can't be together in the same project"
**Describe the bug**
Plugin.LocalNotification  and System.ServiceModel can't be together in the same project

**To Reproduce**
Steps to reproduce the behavior:
When I include wcf service to my project , the dependence for: System.ServeceModel.Duplex + System.ServeceModel.Http + System.ServeceModel.NetTcp + System.ServeceModel.Security and 73 compile Error popup !!!
All of them are in App.Android p

[2019-02-26 19:34] tmt242001 commented on #14
Cannot reproduce the error. The attached sample project can be compiled without any issue.

`
1>------ Rebuild All started: Project: LocalNotification.Sample, Configuration: Debug Any CPU ------
1>LocalNotification.Sample -> C:\Users\ElvinT\source\repos\temp\Sample\NuGet\Sample\bin\Debug\netstandard2.0\LocalNotification.Sample.dll
2>------ Rebuild All started: Project: LocalNotification.Sample.And

[2019-02-27 08:33] someelse commented on #14
The build process succeesded but....Errors, and i'm Worry......

![err](https://user-images.githubusercontent.com/48019243/53475771-7763e500-3a79-11e9-8b31-90294d3585c2.png)

with the emulator Android_Accelerated_x86_Oreo (Android 8.1 - Api 27) the Error count raise to 73
![err2](https://user-images.githubusercontent.com/48019243/53476397-f73e7f00-3a7a-11e9-9137-3e53056b299d.png)

[2019-03-14 11:44] someelse commented on #14
hi,
Is there any solution for this problem ?

בהצלחה
דורית

On Tue, 26 Feb 2019 at 21:34, Elvin (Tharindu) Thudugala <
notifications@github.com> wrote:

[2019-03-14 11:46] someelse commented on #14
Hi,
Is there any solution for this problem ?

‪On Thu, 14 Mar 2019 at 13:44, ‫דורית בן-דוד‬‎ <bddorit1@gmail.com> wrote:‬

[2019-03-14 21:56] tmt242001 commented on #14
@someelse  can you please clarify that you can built the project, if you reference System.ServiceModel and Plugin.LocalNotification separately.

Also, you tried building after deleting bin and obj folders ?

[2019-03-20 09:49] Druffl3 opened #15 "Is scheduled recurring notification possible with this plugin?"
For example, If I set a notification to pop at 18:30. Is it possible for my app to pop a notification at 18;30, everyday till I disable that particular notification?

[2019-03-21 21:01] tmt242001 commented on #15
Is it possible for my app to pop a notification at 18:30?
**Yes**
Everyday till I disable that particular notification?
**No**, notification will only fire ones

[2019-04-04 03:45] #15 closed

[2019-04-04 03:45] #14 closed

[2019-04-13 10:32] pfedotovsky opened #16 "Documentation is incorrect"
[code]

This doesn't complile, **new NotificationRequest** should be used instead

[2019-04-13 10:58] #16 closed

[2019-04-18 16:16] pikausp opened #17 "Handling notifications that caused the application start"
I can use the `NotificationTapped` event to listen to notification interactions while the application is running, however, this event does not get fired when the App had to be started (was not running).

Consider the following scenario.

1. I schedule a notification to be displayed in an hour.
2. The user kills the application before the notification is displayed.
3. The user taps the delayed noti

[2019-04-18 19:40] thudugala commented on #17
Yes, tryout the sample app

[2019-04-19 08:33] pikausp commented on #17
There was a configuration mistake on my side and that's why I was not receiving the `NotificationTapped`. Thank you for the great plugin!

[2019-04-19 08:33] #17 closed

[2019-05-11 04:16] jlchavez opened #19 "Documentation in README.md is out of date"
The documentation is out of date, in the Platform Specific Notes section, NotificationCenter has Current property, has no NotificationIconId, etc.

[2019-05-11 10:31] thudugala commented on #19
@jichavez you can only access NotificationIconId from Android project.

[2019-05-13 14:03] Abesoddy opened #20 "NotifyNotificationTapped is not found"
Hello,

I have this error on the project Xamarin.Froms.Android :

Error CS0117: 'NotificationCenter' does not contain a definition for 'NotifyNotificationTapped' (CS0117)

Does this come from the plugin or an implementation error?

[2019-05-13 18:10] thudugala commented on #20
Hi @Abesoddy, Can you attach a sample project?

[2019-05-14 10:03] Abesoddy commented on #20
Hi,

Thank you for your answer, here is a sample : https://github.com/Abesoddy/SampleLocalNotification

[2019-05-15 04:08] agusibrahim opened #22 "Custom Notification Sound"
**Is your feature request related to a problem? Please describe.**
this Notification plugin is great, but its always using default notification sound. please add feature to custom notification sound each notification

**Describe the solution you'd like**
sound file may stored on res/raw (Android), so in pcl project just input the name of file in NotificationRequest

**Describe alternatives you've

[2019-05-15 21:44] LeoJHarris commented on #20
I noticed on v3.0.1 all definitions of the localNotification have red squiggly lines and adding the using Plugin.LocalNotification; namespace doesn't resolve it, downgrading to v2.0.7 works fine.

[2019-05-15 21:45] LeoJHarris commented on #20
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or namespace name 'ILocalNotificationService' could not be found (are you missing a using directive or an assembly reference?)	LocalNotification.Sample	C:\Users\Admin\Downloads\Plugin.LocalNotification-master (1)\Plugin.LocalNotification-master\Sample\NuGet v207\Sample\MainPage.xaml.cs	40	Active

[2019-05-15 21:48] LeoJHarris commented on #20
If you update the samples that come with this project you notice the same issue. Just update the library to 3.0.1

[2019-05-16 00:38] thudugala commented on #20
Incorrect Android framework

![image](https://user-images.githubusercontent.com/4112014/57818275-4e7d0180-77d7-11e9-9bc0-112f72566a41.png)

Project should target Android framework 9.0+ for Plugin.LocalNotification 3.0 and above

![image](https://user-images.githubusercontent.com/4112014/57818332-81bf9080-77d7-11e9-979d-8c7baa0407b9.png)

[2019-05-16 07:17] thudugala commented on #19
@jlchavez  Please make sure you are targeting Android framework 9.0+ for Plugin.LocalNotification 3.0 and above

[2019-05-16 07:17] #19 closed

[2019-05-16 07:18] #20 closed

[2019-05-19 04:27] agusibrahim commented on #1
hi @thudugala how about repeat the schedule? examples are repeated every day

[2019-05-20 22:38] thudugala commented on #15
In Android, JobScheduler is used for scheduling.

JobScheduler can be:
- Delayed to run at a specific DateTime
- Set to repeart at a specific TimeSpan

But **NOT** both at the same time.

[2019-05-21 00:18] thudugala commented on #22
Released in [3.0.2](https://www.nuget.org/packages/Plugin.LocalNotification/3.0.2)

[2019-05-21 00:18] #22 closed

[2019-05-21 01:49] agusibrahim commented on #22
I really appreciate, thank you

[2019-05-24 08:44] Freddyvdh opened #24 "Android notification channel"
Hi,

thank you for this great plugin and accepting the PR.

I'm still testing with the channel. When I change the description of the channel name, the settings are set back to default. The NotificationManager can retrieve the channel if it exists with `GetNotificationChannel(string channelId)`.

I checked the android [docs](https://developer.android.com/training/notify-user/channels):
[code]

Prio

[2019-05-26 21:22] thudugala commented on #24
@Freddyvdh I like the second option "Create the channel with the first NotificationRequest"

[2019-05-26 21:37] pikausp commented on #24
Personally, I believe it doesn't make sense to expose properties for each notification request that will be ignored in subsequent request.

[2019-05-27 00:21] thudugala commented on #24
@pikausp and @Freddyvdh Can not add AndroidCreateChannel to INotificationService as it is not for iOS.
Maybe in NotificationCenter in Platform.Droid.

[2019-05-27 03:19] thudugala commented on #24
@pikausp and @Freddyvdh now Notification Channel is created once when app start.

[code]

[2019-05-27 08:09] Freddyvdh commented on #24
@thudugala it looks good, but it doesn't work with two or more channels, which I wan't to use.

I would add the channel name again to AndroidOptions, if not set it is general.

Remove `NotificationChannelId` as static from NotificationCenter, and make it a local variable in `CreateNotificationChannel`.

And I would change the creation to:

`var channel = notificationManager.GetNotificationChannel(

[2019-05-27 20:17] thudugala commented on #24
@Freddyvdh Creating an existing notification channel with its original values performs no operation, so it's safe to call this code when starting an app.

https://developer.android.com/training/notify-user/channels#CreateChannel

[2019-05-27 21:08] thudugala commented on #24
@Freddyvdh now Multiple Notification Channels can be created once when app start.

[code]
try LocalNotification.Sample.sln in Sample/Direct folder

[2019-05-28 08:57] Freddyvdh commented on #24
Works great.
I had an error on compiling the android sample and had to enable [multi dex](https://github.com/xamarin/Xamarin.Forms/issues/4825).

[2019-05-31 11:29] Freddyvdh commented on #24
One, I hope last thing ;)

For localization it would be great, if the channel id, name and description could be set in the NotificationChannelRequest. The channel id must be given in the AndroidOptions.

[2019-06-06 20:32] thudugala commented on #24
@Freddyvdh try LocalNotification.Sample.sln in Sample/Direct folder.

Now channel id can be set in NotificationChannelRequest.Id, if set, the channel id must also be set in NotificationRequest.AndroidOptions.ChannelId

[2019-06-06 21:26] thudugala commented on #24
Released [4.0.0](https://www.nuget.org/packages/Plugin.LocalNotification/4.0.0)

[2019-06-12 03:41] #24 closed

[2019-06-20 04:27] chenjeff622 opened #25 "how to add notify icon at android ?"
any sample please?

[2019-06-20 04:33] thudugala commented on #25
You can change notification iocn by setting NotificationRequest.Android.IconName

[2019-06-20 04:45] chenjeff622 commented on #25
how to set NotificationRequest.Android.IconName ?

[2019-06-20 04:56] thudugala commented on #25
You only need to do this, if you want to change app icon from getting set as notification icon.

[code]

after that add "my_icon.png" to Android Project Resources/drawable

![image](https://user-images.githubusercontent.com/4112014/59819463-10e23a00-937c-11e9-86b6-4acf619b9ff1.png)

[2019-06-25 12:43] sunnygraphy opened #26 "how to change notification icon in 2.0.7"
I could not change notification icon in Xamarin.forms project.

There is option  android  in
var notification = new Plugin.LocalNotification.LocalNotification
                {

                    NotificationId = notification_id,
                    Title = body,
                    Description = body,
                    ReturningData = "Dummy data", // Returning data when tapped on notificatio

[2019-06-25 21:57] thudugala commented on #26
@sunnygraphy  I would suggest you to update to v4.0.2

https://github.com/thudugala/Plugin.LocalNotification/wiki/How-to-change-notification-icon

if you can't upgrade, look at
https://github.com/thudugala/Plugin.LocalNotification/wiki/Usage-2.0.7#platform-specific-notes

[2019-06-25 21:57] #25 closed

[2019-06-26 02:16] chenjeff622 commented on #25
thank you  thudugala!

[2019-06-27 12:17] Abesoddy opened #27 "cannot access ListenableFuture"
Hello,

I have this error on the project Xamarin.Froms.Android with version 4.0.3 :

Error:  error: cannot access ListenableFuture public class ScheduledNotificationWorker class file for com.google.common.util.concurrent.ListenableFuture not found

Does this come from the plugin or an implementation error?

[2019-06-27 18:34] thudugala commented on #27
Can you please attach a sample project?

[2019-06-28 20:55] #26 closed

[2019-07-03 01:13] sunnygraphy opened #28 "No platform plugin found"
I install this plugin to PCL and all project in Xamarin.form  without error.
and in Iphone it works well.
But in android I get the following error message.

[Plugin.LocalNotification] No platform plugin found.  Did you install the nuget package in your app project as well?"

What did I  miss  in installation.

Thanks.

[2019-07-03 01:16] thudugala commented on #28
Is you android project targeting Android framework 9.0+ ?

*Only support .Net Standard 2 shared projects, does not support Xamarin PCL.

[2019-07-03 01:20] sunnygraphy commented on #28
thanks

[2019-07-03 03:00] #28 closed

[2019-07-04 12:25] tranb3r commented on #27
@thudugala @Abesoddy

I'm having the same build error when attempting to build the sample project (Nuget) for Android.

However, the error only appears when using visual studio preview:
- with Visual Studio 2019 16.1.4 (xamarin sdk 9.3.0.23): no error on build
- with Visual Studio 2019 16.2.0 preview 3.0 (xamarin sdk 9.4.0.4): build error (cannot access ListenableFuture).

Any idea for fixing it ?

[2019-07-13 13:38] tranb3r commented on #27
Any progress on that one ?

[2019-07-17 12:19] Max87ZA commented on #28
Hi @thudugala , I have similar problem - plugin is throwing same error on Android(not tested with iOS, not necessary). I'm targeting Android API 9.0(API 28), minimal SDK is 4.4(API level 19).
Can you please help me how to solve this error? I installed the package inside shared project and inside Android and iOS separately, I have reference in all .csproj files.
Thank you

[2019-07-17 22:46] thudugala commented on #28
@Max87ZA  Can you attach a sample project ?

[2019-07-18 08:54] Max87ZA commented on #28
I discovered, that I have problems with Target framework, that is probably main issue why it's not working... Is there any chance to make it work with Target framework set to 8.1 Oreo? Thanks

[2019-07-18 18:26] thudugala commented on #28
Sorry, Plugin has a dependency to Xamarin.Android.Arch.Work.Runtime which only support Android 9+

[2019-07-22 16:33] tranb3r commented on #27
Same issue with the new preview: Visual Studio 2019 16.2.0 preview 4.0 (xamarin android sdk 9.4.0.51)

[2019-07-22 20:06] thudugala commented on #27
@tranb3r Can you try referencing Xamarin.Android.Arch.Work.Runtime in your android project ?

[2019-07-23 09:05] tranb3r commented on #27
Same error (tested with the sample project (nuget)).

[2019-07-24 08:18] pikausp commented on #27
Possibly related to https://github.com/xamarin/xamarin-android/issues/3343?

[2019-07-29 09:57] thudugala commented on #27
https://docs.microsoft.com/en-nz/xamarin/android/release-notes/9/9.4#known-issues-in-xamarinandroid-94051

Workaround:
Add the following lines to the bottom of your app project's .csproj file (just before the closing </Project> tag):

[code]

[2019-07-29 09:57] #27 closed

[2019-08-01 10:49] tranb3r opened #31 "[iOS] ArgumentNullException when showing notification if ReturningData is set to null"
**Describe the bug**
On iOS, if ReturningData is null in NotificationRequest, then NotificationCenter.Current.Show results in an ArgumentNullException.
No issue on Android.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a NotificationRequest without setting ReturningData (value should be null)
2. Call NotificationCenter.Current.Show for this notificationRequest
3. On iOS, the notific

[2019-08-01 20:49] #31 closed

[2019-08-01 20:53] thudugala commented on #31
Fixed in 4.0.5

[2019-08-05 06:41] hjavaher opened #32 "Can't get NotificationTapped Event working"
**Describe the bug**
I have the `NotificationCenter.Current.NotificationTapped += Current_NotificationTapped;` in the App.xaml.cs file above the MainPage=new AppShell(); but no matter what I do this event is not triggered when I click on the notifications. As of writing this, I'm on the latest version of everything including ios, xamarin.forms and this plugin.

[2019-08-05 06:44] thudugala commented on #32
@hjavaher can you please attach a sample project?

[2019-08-05 06:47] hjavaher commented on #32
Unfortunately I can't simulate the app as it's quite far in the development phase and I can't release it yet. I would be more than happy to answer any questions I can though. I'm sorry. I know you're trying to help me out but I just can't simulate the app at this stage.

[2019-08-05 06:48] hjavaher commented on #32
Also, Great plugin buddy! Thank you so much for your time and efforts!

[2019-08-05 07:21] thudugala commented on #32
Can you get the sample project in this repo to work?

[2019-08-08 03:56] jrahma opened #33 "cannot access ListenableFuture"
Hi,

I am getting:

error: cannot access ListenableFuture public class ScheduledNotificationWorker class file for com.google.common.util.concurrent.ListenableFuture not found LocalNotifications.Android C:\Users\jrahm\Source\Repos\LocalNotifications\LocalNotifications\LocalNotifications.Android\obj\Debug\90\android\src\md50e8eea8286f69b03ef3779df0abd57a6\ScheduledNotificationWorker.java 4

Thanks,

[2019-08-08 04:39] thudugala commented on #33
Please look at #27

[2019-08-08 04:41] thudugala commented on #27
Issue seems to be fixed in VS 16.2.1 (Xamarin.Android 9.4.1.0)

[2019-08-08 06:07] jrahma commented on #33
Yes it is working. Thanks

[2019-08-08 06:07] #33 closed

[2019-08-12 14:02] arrTeamGun opened #34 "Property "IconName" shouldn't have extention for filename"
**Describe the bug**
You have a typo in code

**To Reproduce**
https://github.com/thudugala/Plugin.LocalNotification/wiki/How-to-change-notification-icon

**Expected behavior**
IconName = "myicon"

[2019-08-12 20:31] thudugala commented on #34
Thank you @arrTeamGun. Documentation fixed

https://github.com/thudugala/Plugin.LocalNotification/wiki/%5BAndroid%5D-How-to-change-notification-icon

[2019-08-12 20:31] #34 closed

[2019-08-20 21:02] #32 closed

[2019-08-21 17:09] jrahma opened #35 "Make Local Notifications work in Background"
Hi,

How can I make the Local Notification triggered in the background even when the app is closed?

Thanks,
Jassim

[2019-08-22 20:22] thudugala commented on #35
Hi @jrahma,

Sorry for not replying soon.
If you set the NotifyTime, even if the app is closed or devices is restarted the Notification will get triggered.

Let me know, if this does not solve you issue.

[2019-08-22 20:34] jrahma commented on #35
but this means the app needs to be started first in order to get  the data?

Let me tell you my scenario, I have a prayer reminder app which its timing changes and there is a formula for it

I already have the formula in my app and no issue when the app is in foreground

but I want when the app is also in the background to be able to do the calculation every  and send the notification

[2019-08-22 20:55] thudugala commented on #35
@jrahma I do not think you can achieve this with this plugin.

I would suggest, you look into push notification (App Center Push or Azure Notification Hubs). You may need to put your formula in Scheduler service like Azure Scheduler.

if you don't wont use a cloud service then:
In Android, you maybe able to do it using AndroidX.Work with a native implementation.
In iOS, I do not think you can do t

[2019-08-22 23:00] jrahma commented on #35
@thudugala I tried to add the LocalNotification inside WorkManager but nothing is being sent

I added:

[Xamarin.Android.Arch.Work.Runtime](https://www.nuget.org/packages/Xamarin.Android.Arch.Work.Runtime/)

as per this article:

[https://devblogs.microsoft.com/xamarin/getting-started-workmanager/](https://devblogs.microsoft.com/xamarin/getting-started-workmanager/)

My code is like this:

[code]

[2019-08-22 23:07] thudugala commented on #35
Hi @jrahma,

Can you attach your sample project ?

[2019-08-23 11:06] karthic1986 commented on #32
Change "LocalNotificationTappedEvent"  event args to "NotificationTappedEventArgs"

From
 private void OnLocalNotificationTapped(LocalNotificationTappedEvent e)
 {
      // your code goes here
 }

To
 private void OnLocalNotificationTapped(NotificationTappedEventArgs e)
 {
      // your code goes here
 }

[2019-08-23 12:55] jrahma commented on #35
@thudugala I guess it's ok now

Thank you so much

[2019-08-23 12:55] #35 closed

[2019-08-24 10:44] jrahma opened #36 "Get Scheduled Notification Details"
Hi

How can I loop through all the scheduled notifications and read their details?

Or how can I get a specific scheduled notification details by ID?

** I a not not talking about Notification_Tapped here but I just want to know what are all the pending notifications

Thanks,
Jassim

[2019-08-25 02:34] thudugala commented on #36
@jrahma this is not supported at the moment.

[2019-08-25 15:19] jrahma commented on #36
Hope to consider this as feature request. Thanks

[2019-08-25 15:19] #36 closed

[2019-08-26 13:29] JanNepras opened #37 "[Android] Scheduled Local Notifications are not shown on time"
**Describe the bug**
I have a solution implementing scheduled local notifications. On Android notifications are sometimes delayed (0 - 40 seconds). What we need in our project to schedule local notification on specified time interval.

I created solution replicating this issue. This project schedules 2 notifications. The first one is scheduled after 60 seconds and second one 120.

**To Reproduce**

[2019-08-26 22:40] thudugala commented on #37
Please note that the delay is not always accurate. Due to how modern Android works.

[2019-08-27 12:29] JanNepras commented on #37
@thudugala Could you please be more specific?

[2019-08-27 20:38] thudugala commented on #37
Android Notification does not support trigger using time. Therefor I use WorkManager in Android to do a one time work with an initial delay. WorkManager, initial delay is not always accurate.

This seems to be by design.

https://issuetracker.google.com/issues/110745313
https://medium.com/android-ideas/scheduling-notifications-on-android-with-workmanager-6d84b7f64613
https://stackoverflow.com/ques

[2019-08-29 11:39] JanNepras commented on #37
@thudugala In that case we can close this bug.

[2019-08-29 11:39] #37 closed

[2019-09-03 19:07] mos379 opened #39 "Notification don't show after reboot"
I implemented a JobScheduler to show notifications.
The notifications are nicely shown after I opened my app and the jobscheduler gets triggered.
When I minimize my app the job keeps processing and the notifications are shown.

After reboot my job is still triggered and processing, but the notifications are not shown and the
I added logcats to see if the job is working properly and everything seem

[2019-09-03 20:16] thudugala commented on #39
Hi mos379, Can you attach a sample project ?

[2019-09-04 09:29] mos379 commented on #39
After changing your sample project to include the job, I figured out that the problem was not your plugin!
Great job on the Plugin so far ;)

[2019-09-04 09:29] #39 closed

[2019-09-10 20:36] tranb3r opened #40 "Migration to AndroidX"
Is the migration to AndroidX planned ?

[2019-09-10 21:00] thudugala commented on #40
The plugin works if you Migration to AndroidX.
The plugin does not have direct dependency to any Android Support Libraries or AndroidX (not published).
When the Xamarin.Android.Arch.Work.Runtime gets updated to use AndroidX this plugin will automatically get updated to AndroidX.

[2019-09-11 08:51] tranb3r commented on #40
I'm not sure I understand.
The plugin depends on Xamarin.Android.Arch.Work.Runtime and Xamarin.Android.Support.v4.
Both libs have their AndroidX equivalent : Xamarin.AndroidX.Work.Runtime and Xamarin.AndroidX.Legacy.Support.V4
Shouldn't you publish a nuget with androidX dependencies (instead of support libs)?

[2019-09-13 10:29] tranb3r commented on #40
Thank you for the release.
Did you manage (by any chance) to migrate the nuget sample ?
I'm having this error : The Java type `mono.android.support.v4.media.session.MediaSessionCompat_OnActiveChangeListenerImplementor` is generated by more than one managed type

[2019-09-13 18:32] niladri-1437 opened #41 "4.0.6 version not working in xamarin.ios 12.4"
4.0.6 version not working in xamarin.ios 12.4. Checked with 4.0.5 also same issue. Android version is working fine. Issue with ios only.
"Notification is not raising"

[2019-09-13 19:03] niladri-1437 commented on #41
Issue Identified.
Instead of NotifyTime = DateTime.Now.ToLocalTime() wrote DateTime.Now.AddSeconds(1). Fixed issue

[2019-09-13 19:03] #41 closed

[2019-09-15 05:43] jrahma opened #42 "[Android] Playing Preferred Sound"
Hi,

In this link:

[https://github.com/thudugala/Plugin.LocalNotification/wiki/Notification-with-a-Sound-File](https://github.com/thudugala/Plugin.LocalNotification/wiki/Notification-with-a-Sound-File)

It's mentioned from Androidn >= 26 the sound must be set in Channel Level

What if I have different sound files and it depends on the user preference the sound should play?

Thanks,
Jassim

[2019-09-15 22:53] thudugala commented on #42
@jrahma you should create different Notification Channels with different names

[2019-09-15 23:20] thudugala commented on #40
@tranb3r try [NuGet v500P01](https://github.com/thudugala/Plugin.LocalNotification/tree/master/Sample/NuGet%20v500P01) sample

[2019-09-16 09:47] tranb3r commented on #40
I was wrongly assuming that I could remove the xamarin.androix.migration package after adding the correct androidx packages, but it looks like it's not possible (yet).
Anyway, now it works in my app :) Thanks a lot for your help !!

[2019-09-16 10:16] #40 closed

[2019-09-24 05:15] #42 closed

[2019-09-25 14:09] grayter1 opened #43 "Cannot build demo application in release mode and proguard enabled"
**Describe the bug**
Cannot build demo application in release mode and proguard enabled

**To Reproduce**
Steps to reproduce the behavior:
1) Open Sample/Nuget/LocalNotification.Sample.sln in Visual Studio >= 2017
2) Select Release mode
3) In Android Properties select Android options and set Code shrinker to ProGuard (I used 6.1.1 but nothing really works)

**Expected behavior**
Project should com

[2019-09-25 20:26] thudugala commented on #43
try https://github.com/xamarin/AndroidSupportComponents/issues/166

[2019-09-26 06:06] grayter1 commented on #43
When I use this confuguration im my project application crashes right after load. I will check later if the same happens in demo example.

[2019-09-26 14:35] grayter1 commented on #43
Yep, application is crashing instantly with proguard configuration. Is there any chance you fix this in next release? I really like your plugin...

[2019-09-26 22:10] thudugala commented on #43
https://github.com/xamarin/AndroidSupportComponents/issues/168

[2019-09-28 15:03] ashishemm opened #44 "'Current' is not available in iOS - NotificationCenter"
I installed the nuget package in both Android and iOS projects of Xamarin Forms project.
The NotificationCenter.Current property has a compilation error that it does not exist in the iOS project. I tried changing the iOS deployment target to 11, but still the error exist.

I couldn't show the notification due to this issue.

Refer the attached screenshot.
![Screenshot 2019-09-28 at 20 32 12](https

[2019-09-30 01:57] thudugala commented on #44
@masonyc can you help. Don't have access to mac right now.

[2019-09-30 02:02] masonyc commented on #44
@ashishemm Hi, I could not reproduce this in the sample application. Can you please upload a repo?

[2019-10-02 12:41] ashishemm commented on #44
[test.zip](https://github.com/thudugala/Plugin.LocalNotification/files/3681102/test.zip)
I've attached the code here

[2019-10-02 22:52] masonyc commented on #44
@ashishemm  you have to link the NuGet package to your shared project as well, which I am not too sure how to do in .shproj project.

[2019-10-03 15:31] ssrodnas opened #47 "Send Local Notification when app is not running"
Hi,

Is it possible with the current version (v4.0.6) to get the Local Notifications even when the app is not running?
I have a sample code which is working fine when the app is running (foreground and background) and the Android app displays the notification, but when I kill the app, the notification is not sent/received.

Thanks,
S.

[2019-10-04 08:08] #47 closed

[2019-10-04 08:36] tranb3r opened #48 "Version conflict when updating Xamarin.Android.Arch.Work.Runtime"
I have this warning when building my app:
`NU1107: Version conflict detected for ....`
` ... -> Xamarin.Essentials 1.3.1 -> Xamarin.Android.Support.Core.Utils 28.0.0.3 -> Xamarin.Android.Support.Loader 28.0.0.3 -> Xamarin.Android.Arch.Lifecycle.LiveData 1.1.1.3 -> Xamarin.Android.Arch.Core.Common (= 1.1.1.3)`
` ... -> Plugin.LocalNotification 4.0.6 -> Xamarin.Android.Arch.Work.Runtime 1.0.0 -> Xam

[2019-10-06 19:59] thudugala commented on #48
[4.0.7](https://www.nuget.org/packages/Plugin.LocalNotification/4.0.7) published

[2019-10-06 19:59] #48 closed

[2019-10-06 20:15] thudugala commented on #43
in Version [4.0.7] issue is fixed

[2019-10-06 20:15] #43 closed

[2019-10-08 12:47] koosha72 opened #50 "NotificationTapped doesn't work with splash screen."
**Describe the bug**
When I use a splash activity tap event never fires.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a SplashActivity class.
2. Set its MainLauncher to true.
3. Start MainActivity inside its OnCreate method.
4. Create a notification
5. Tap on the notification

**Expected behavior**
NotificationTapped event gets fired

**Platform (please complete the following infor

[2019-10-09 11:29] jrahma opened #51 "Prevent sending message when device is off"
Hi,

How can I prevent LocalNotification from sending the message when device is switched on again?

For example, here is my scenario..

I am sending a reminder for prayer time so the app is storing the times and scheduling the messages, let's say the next prayer is at 13:00 and before that the user has switched off his device, and he switched it on at 13:30, in this case I don't want the message

[2019-10-10 01:02] ProfessorChristian opened #52 "API Level 26 Notification Not Working"
I've put all the sample code in my application, and it worked perfectly fine on IOS and Android version 7.1 and below. But on Android 8.0 and above, it won't work. Maybe I missed something?

Here's the code i've inserted to my application.

var notifications = new NotificationRequest
            {
                NotificationId = 100,
                BadgeNumber = 10,
                Title = "samp

[2019-10-10 01:04] thudugala commented on #52
Did you setup a Notification Channel ?

[2019-10-10 01:05] thudugala commented on #50
Please attach a sample project.

[2019-10-10 01:15] ProfessorChristian commented on #52
Sorry sir, I now i'm in the minority here.

I thought that setting up the notification channels are for specific platforms only.

I've used Xamarin.Forms in setting up for both Android and IOS.

but if so, where can I setup the notfication channel for android sir?

Thank you so much.

[2019-10-10 01:32] thudugala commented on #52
try [[Android = 26] Notification Channel](https://github.com/thudugala/Plugin.LocalNotification/wiki/%5BAndroid---=-26%5D-Notification-Channel) wiki page

[2019-10-10 01:37] ProfessorChristian commented on #52
![image](https://user-images.githubusercontent.com/51305140/66532287-75025700-eb41-11e9-97b6-73d514226901.png)

I tried the sample code on the given link sir, but prompts an error that .LocalNotification is nowhere to be found in the namespace Plugin.LocalNotification

[2019-10-10 01:47] thudugala commented on #52
Can you please attach a sample project ?

[2019-10-10 01:51] thudugala commented on #52
Sorry documentation mistake, it should be NotificationRequest not Plugin.LocalNortification.LocalNortification

[2019-10-10 01:58] ProfessorChristian commented on #52
can I just share it to you via Cloud sir? the file, even having only simple UI and one button object, it already has the capacity of 108mb, and github won't allow uploading files larger than 10mb.

Thus, I already tried the NotificationRequest Class instead of Plugin.LocalNotification, still no luck.

[2019-10-10 02:01] thudugala commented on #52
can you run the sample project https://github.com/thudugala/Plugin.LocalNotification/tree/master/Sample/NuGet

[2019-10-10 02:11] ProfessorChristian commented on #52
The suggested sample project worked sir, on both Android 8.0 and Android 9.0, and it is perfect.

But how did that sample project work? What did I miss? I'm now very desperate. :(

[2019-10-10 02:21] thudugala commented on #52
There is no other way. You have to check line by line.

[2019-10-10 02:31] ProfessorChristian commented on #52
Okay sir, I'll update once i'm through with it, thanks for the advice and for the help. I really appreciate your work for cross platform notification, really helped in making the code small. Thumbs up!

For the meantime, please don't close yet the issue, I may be have some follow-up questions later. Thank you sir.

[2019-10-10 03:05] ProfessorChristian commented on #52
![image](https://user-images.githubusercontent.com/51305140/66535621-bea46f00-eb4c-11e9-80c6-177a428fdc3b.png)

The problem was, I forgot to insert this piece of configuration, I really thought that this config was for Specific Platforms only, and not intended for Xamarin Forms PCL

After inserting the code, it worked perfectly.

[2019-10-10 04:06] #52 closed

[2019-10-10 08:13] rambo1223 opened #53 "Please add other options as vibration, sound or progress bar"

[2019-10-11 14:52] thudugala commented on #53
Option to set Sound file is already there

[2019-10-16 17:07] divyesh008 opened #54 "No repeat interval."
there is no such a property which can be use to repeat a local notifications using this plugin.
For Example: If i want to set a schedule for Monday and Tuesday 5 pm and want to get notification every Monday and Tuesday of each week on Same time till I cancel the local notification than there is no scope to do that using this plugin.

[2019-10-17 03:56] jrahma opened #55 "Local Notification sent immediately not scheduled"
Hi,

In the attached sample, Ia m using a PeriodicWorkRequest to be running every 30 minutes and inside the WorkRequest I am getting prayer times and then scheduling the time for the notifications.

I am showing the Times On MainPage,xaml just to refer to..

The problem that when I start the app then the push notification is sent immediately although it should be scheduled on the specific time whi

[2019-10-18 12:10] thudugala commented on #44
closing as there is no response @ashishemm

[2019-10-18 12:10] #44 closed

[2019-10-21 00:14] thudugala commented on #55
Not a bug related to this plugin.

Error at AthanTime.DoWork line number 43, Task.Run is not awaited.

[2019-10-21 00:14] #55 closed

[2019-10-21 05:13] jrahma commented on #55
@thudugala but the question is why the notification is sent although I have already set the schedule time for it so it should not be sent with or without the await.. Right?

[2019-10-21 05:40] jrahma commented on #55
I also tried this:

[code]
with Wait()

but same problem

[2019-10-21 19:52] thudugala commented on #55
Hi @jrahma,

if you set the notification time earlier than current date and time. it will fire immediately.

[code]

[2019-10-21 21:40] thudugala commented on #55
Version 4.0.8 will not scheduled notification, if the notification time earlier than current date and time.

[2019-10-21 21:44] thudugala commented on #53
added vibration and progress bar in v4.0.8

[2019-10-21 21:44] #53 closed

[2019-10-25 12:09] jslachta commented on #50
I think this is not a bug. Since Xamarin.Forms does not support splashscreen itself, adding new Splashscreen Activity often "breaks" the component initialization at startup. It should be enough to mimic the behavior and pass the original data we want from the splashscreen Activity.

In order to make the NotificationTapped event working, you must pass the data from the original Intent (SplashScreen

[2019-10-31 20:11] thudugala commented on #51
Need to investigate how iOS handles this situation.

@jrahma Do you get the Notification popup in iOS ?

[2019-10-31 20:26] thudugala commented on #50
@koosha72  Is there possibility to attach a sample project here, so that I can understand the issue in more detail ?

[2019-11-05 16:22] agharium opened #58 "Xamarin.Forms' Android doesn't compile with R8/ProGuard active in Release mode"
**Describe the bug**
Xamarin.Forms' Android doesn't compile with R8/ProGuard active in Release mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate R8/ProGuard with plugin installed and try to compile.

**Expected behavior**
Successful compilation.

**Platform:**
 - OS: Windows 10
 - Visual Studio 2019

**Smartphone:**
 - Device: Tested on Emulator and Samsung A5 2017
 - OS: Androi

[2019-11-05 16:45] agharium commented on #54
This would be nice..

[2019-11-05 17:37] thudugala commented on #58
Please attach a sample project

[2019-11-05 20:12] thudugala commented on #58
https://github.com/xamarin/AndroidSupportComponents/issues/168

[2019-11-06 15:13] agharium commented on #58
[Sample](https://file.io/hasW3U)

Also, I noticed that on Android Oreo, the icon doesn't get any color (not even the gray when no color is set). Any idea why? I've only been testing on Android 8 and 9.

Check this out:

Android 9 Pie:
![screenshot-2019-11-06_11 52 56 913](https://user-images.githubusercontent.com/28984633/68309407-276c0200-008d-11ea-8b41-900fcc6d4723.png)

Android 8 Oreo:
![WhatsA

[2019-11-26 14:58] Freddyvdh opened #60 "No sound on android < 8.0"
**Describe the bug**
No sound is played on devices with Android 7.0 or before

It doesn't work if request.Sound is null or empty. It works if request.Sound is set e.g. to "Default". The sound file must not exist.

[2019-11-26 18:04] thudugala commented on #60
@Freddyvdh Can you please attach a sample project

[2019-11-27 07:56] Freddyvdh commented on #60
I just used the sample project.

[2019-11-27 09:33] Freddyvdh commented on #60
I have downloaded the latest version and can't reproduce it. I will update my project and will have a look how it works.

[2019-11-27 09:33] #60 closed

[2019-11-27 10:37] Freddyvdh commented on #60
I think it had been this [commit ](https://github.com/thudugala/Plugin.LocalNotification/commit/97b89e0f7fc230c11e42decdebf09ea43cbc0ed4)

[2019-12-10 20:15] thudugala opened #63 "Android 8 Icon Color issue"
[Sample](https://file.io/hasW3U)

Also, I noticed that on Android Oreo, the icon doesn't get any color (not even the gray when no color is set). Any idea why? I've only been testing on Android 8 and 9.

Check this out:

Android 9 Pie:
![screenshot-2019-11-06_11 52 56 913](https://user-images.githubusercontent.com/28984633/68309407-276c0200-008d-11ea-8b41-900fcc6d4723.png)

Android 8 Oreo:
![WhatsA

[2019-12-10 20:19] thudugala commented on #63
/cc @agharium FYI

[2019-12-10 20:39] thudugala commented on #63
Can you add the sample to zip file directly to GitHub comment

[2019-12-10 21:21] agharium commented on #63
Yeah, sure.

[LocalNotificationAghariumSample_2.zip](https://github.com/thudugala/Plugin.LocalNotification/files/3947190/LocalNotificationAghariumSample_2.zip)

Had to zip it twice.

[2019-12-10 21:47] thudugala commented on #63
It Works in my android 8.1 emulator

![image](https://user-images.githubusercontent.com/4112014/70571772-52ed8980-1c03-11ea-8597-1d5063c9ee61.png)

![image](https://user-images.githubusercontent.com/4112014/70571823-6bf63a80-1c03-11ea-9f0a-f72a2506012c.png)

[2019-12-12 20:45] agharium commented on #63
Then probably it's just my crap Samsung's TouchWiz modded phone haha

Thanks for testing it out.

[2019-12-12 20:46] #63 closed

[2019-12-12 20:46] agharium commented on #54
@thudugala this is something you plan to do?

[2019-12-12 21:06] thudugala commented on #54
@agharium

Not at the moment. waiting for  [Xamarin.AndroidX.Work.Runtime](https://www.nuget.org/packages/Xamarin.AndroidX.Work.Runtime/) to be released.

Also:
Android and iOS has very different implementation on repeat.

[2019-12-13 02:34] thudugala commented on #54
version [4.1.0](https://www.nuget.org/packages/Plugin.LocalNotification/4.1.0) now support. Repeating schedule notification next day at same time.

[2019-12-13 03:08] thudugala commented on #51
Will be fixed after 4.1.0

[2019-12-13 03:08] #51 closed

[2019-12-15 07:03] divyesh008 commented on #54
Not at the moment. waiting for Xamarin.AndroidX.Work.Runtime to be released.

Also:
Android and iOS has very different implementation on repeat. @thudugala you are right but there must be a solution. Right now I have make a Renderer to achieve

[2019-12-15 07:07] divyesh008 commented on #54
@thudugala

[2019-12-15 09:06] thudugala commented on #54
@divyesh008 will you be able to do a PR?

[2019-12-15 20:33] thudugala commented on #54
Added possibility to set Notification repeat Daily or Weekly

[2019-12-15 20:33] #54 closed

[2019-12-15 20:59] agharium commented on #54
Great! Thanks!

I wonder if it wouldn't be possible to set notifications repeat interval to every x number of days?

Like a notification at same time every 2 days (monday, wednesday, friday, sunday, tuesday...)

[2019-12-15 21:04] thudugala commented on #54
@agharium
Will look into it, when I have free time.
Will require a design change to support it.

It would be nice, if you can test new changes.

[2019-12-19 15:55] tomglanville-vsi opened #64 "Future local notifications not working on v4.1.1 on Android"
**Describe the bug**
Updated from v4.0.8 to v4.1.1 and now notifications with a NotifyTime set in the future no longer work on Android. Instead the application output displays the following when the time is reached but no notification is displayed:
 `[WM-WorkerWrapper] Worker result SUCCESS for Work [ id=8b6a975d-8bb3-43c7-9dc8-23110e719443, tags={ md50e8eea8286f69b03ef3779df0abd57a6.ScheduledNoti

[2019-12-20 09:41] ericc0504 opened #65 "Unable to Set Android Notification Icon"
**Describe the bug**
After setting NotificationRequest.Android.IconName, the notification icon on Android is still the default icon.

**To Reproduce**
Steps to reproduce the behavior:
1. Add notification icon (e.g. icon.png) to Resources/drawable.
2. Initial NotificationRequest object and set Android.IconName to "icon".
3. Try to push notification.
4. Notification icon is the default one

**Expect

[2020-01-03 22:53] thudugala commented on #65
@ericc0504 Can you please attach a same project

[2020-01-04 09:29] ericc0504 commented on #65
Attached with the demo which the top button will use the image file name and the bottom one will use the resource id.

[LocalNotiTest_Archive.zip](https://github.com/thudugala/Plugin.LocalNotification/files/4021719/LocalNotiTest_Archive.zip)

[2020-01-06 23:30] thudugala commented on #65
@ericc0504 can you rename Home_Noti to homenoti and try

[2020-01-06 23:56] thudugala commented on #64
@tomglanville-vsi try 4.1.2

[2020-01-07 04:57] ericc0504 commented on #65
It works after renaming to "homenoti". Does it mean that there are some hidden constraints to the image file name?

[2020-01-07 05:14] thudugala commented on #65
I think, It's xamarin andoid issue,
[code]

does not return identifier if name has underscores

[2020-01-07 05:14] #65 closed

[2020-01-09 10:11] tomglanville-vsi commented on #64
Seems to be fixed in 4.1.2 - thanks!

[2020-01-09 10:11] #64 closed

[2020-01-17 15:34] ahmad-raza opened #66 "Missing Unbinding NotificationTapped from App | Multiple invokes on singal tap"
`NotificationCenter.Current.NotificationTapped += LoadPageFromNotification` is being binded everytime in App constructor, which binds the event multiple times in android.
That can cause of invoking LoadPageFromNotification multiple time on single notification click. I would appreciate if you add some solution for this too in your sample.

Adding unbinding works for me in onsleep()

[code]

[2020-01-17 15:35] #66 closed

[2020-01-18 20:46] yuraix opened #67 "Can't install package from NuGet"
When trying to install package from NuGet in VS 2019 16.4.3 I have this error:

Failed to add reference. The package 'Plugin.LocalNotification' tried to add a framework reference to 'System.Drawing.Common.dll' which was not found in the GAC. This is possibly a bug in the package. Please contact the package owners for assistance.
Reference unavailable.

[2020-01-19 22:33] thudugala commented on #67
Cannot recreate the issue.

![image](https://user-images.githubusercontent.com/4112014/72689659-a0510500-3b78-11ea-8add-67fdfada2afa.png)

[2020-01-25 19:20] Husenap opened #68 "Only the ReturningData from the last notification is received"
**Describe the bug**
When you schedule multiple notifications, and they have all been triggered, you will only get the ReturningData from the last notification that was triggered.

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule one notification in 5 seconds with the Title and ReturningData = "1"
2. Schedule another notification in 10 seconds with the Title and ReturningData = "2"
3.

[2020-01-25 19:24] thudugala commented on #68
@Husenap Can you please attach a sample project?

[2020-01-25 19:39] Husenap commented on #68
Thanks for the quick response, here's a sample project!
[NotificationTestApp.zip](https://github.com/thudugala/Plugin.LocalNotification/files/4112609/NotificationTestApp.zip)

[2020-01-26 09:58] #67 closed

[2020-01-26 13:31] yuraix opened #69 "Notification icon is incorrect"
1. Compile your sample project using Android 10
2. Run on emulator with android 9
3. Notification icon is fully white circle

I also tried icons from clipart (Android notification icons) and they also display incorrectly - always full square.

[2020-01-26 19:50] thudugala commented on #69
@yuraix can please attach your sample project?

[2020-01-26 20:19] yuraix commented on #69
I'm using your sample project and icon with name notif
![notif](https://user-images.githubusercontent.com/60047232/73141190-45e10880-4092-11ea-8d02-525d04a55982.png)

[2020-01-28 01:58] agharium opened #70 "["SDK Assemblies Only" linking] Setted Android icon not showing on future notifications + future notifications don't appear at all"
**Describe the bug**
The setted icon is only used in notifications when app is running in **debug mode** or in **release mode with linking option set to none**.
In that last case, it uses the launcher icon instead of the icon set in the notification options. Also, this only happens when **NotifyTime** is set to future. I tested it with a past DateTime and it didn't appeared any notification. I bel

[2020-01-28 08:32] thudugala commented on #70
Hi @agharium thanks for the detailed bug. Can you please attach your sample project?

[2020-01-28 10:58] agharium commented on #70
Added sample and rewrote some of the issue. When I first wrote it, I was almost falling asleep.

And, just for future reference, one only needs to delete bin and obj project folders to decrease solution size drastically enough to zip it and send it on a GitHub issue 😄. That's the reason I didn't send the sample before hahah

[2020-02-05 02:23] thudugala commented on #70
@agharium No solution found yet.
The issue is that System.Xml.Serialization.XmlSerializer Deserialize and Serialize methods ignore object property "Android" when linking option set to "SDK Assemblies Only".

[2020-02-05 02:27] thudugala commented on #69
@yuraix app does not need to run for future notification to show up. Even if you restart the phone it should work.

[2020-02-05 02:29] agharium commented on #70
not even a workaround? besides turning off "SDK Assemblies Only" linking.

[2020-02-05 02:31] thudugala commented on #70
I tried setting Skip Linking assemblies to System.Xml;System.Xml.XmlSerializer;System.Xml.Serialization. But did not work.

[2020-02-05 04:37] #68 closed

[2020-02-05 04:41] thudugala commented on #68
Try version 4.1.3

[2020-02-05 14:57] yuraix commented on #69
Pending notifications only works on stock Android. If you remove the application from recent list, then the notifications do not work on Xiaomi, ZenUI and other vendor roms. Tested many times. The stackoverflow site is full of these posts and simple solution is not exists. Only push notifications works well on not original Android.
[https://stackoverflow.com/questions/57617450/why-alarm-not-fired-

[2020-02-05 20:25] thudugala commented on #69
@yuraix Thanks for the update. Will look in to it

[2020-02-07 15:49] Husenap commented on #68
Seems to be working for me now, thank you very much for the quick fix! :)

[2020-02-14 13:01] thomasgalliker commented on #50
What is 'ExtraReturnDataAndroid' in your sample code above?

[2020-02-14 14:56] thomasgalliker commented on #50
@thudugala this is the SplashActivity I'm using to handover the ExtraReturnDataAndroid payload. It works well, but it's a bit nasty to declare my own ExtraReturnDataAndroid variable.

[code]

[2020-02-14 18:55] thudugala commented on #50
@thomasgalliker will make it public in next version. You can also send me a PR.

[2020-02-14 19:10] jrahma opened #71 "Unable to install latest rc"
Hi,

I am trying to install the latest v5.0.0-rc to my project but getting this error:

Package Plugin.LocalNotification 5.0.0-rc1 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Package Plugin.LocalNotification 5.0.0-rc1 supports:
  - monoandroid90 (MonoAndroid,Version=v9.0)
  - netstandard2.1 (.NETStandard,Version=v2.1)
  - xamarinios10 (Xamarin.iOS,Version=v1.0)

Kindly help.

[2020-02-14 19:18] jrahma commented on #71
Update netstandared 2.1 and solved

[2020-02-14 19:18] #71 closed

[2020-02-14 19:23] PureWeen opened #72 "Update to AndroidX"
**Is your feature request related to a problem? Please describe.**
Hello from the Xamarin.Forms Team!!

Just wanted to drop an FYI here that we've updated our 4.5 release to work with AndroidX.

There have been some issues with libraries that depend on *Xamarin.Android.Arch.Work.Runtime*
https://github.com/xamarin/Xamarin.Forms/issues/9546#issuecomment-586433091

**Describe the solution you'd like

[2020-02-16 03:04] thudugala commented on #50
@thomasgalliker Fixed in v4.1.4

[2020-02-16 03:04] #50 closed

[2020-02-16 04:47] thudugala commented on #72
@PureWeen I'm getting Missing class error When Code Shrinker is set to R8. Can you help ?

Missing class: androidx.paging.PositionalDataSource	LocalNotification.Sample.Android	C:\Users\elvin\source\repos\Plugin.LocalNotification\Sample\Direct\LocalNotification.Sample.Android\R8

![image](https://user-images.githubusercontent.com/4112014/74599286-3fb7d800-50e4-11ea-9223-3553d9adc670.png)

![image](

[2020-02-16 06:41] thudugala commented on #70
@agharium try v5.0.0

[2020-02-16 08:46] thomasgalliker commented on #50
Cool thanks for this quick response.

[2020-02-18 08:21] thomasgalliker opened #73 "Get configured notifications"
**Is your feature request related to a problem? Please describe.**
When I configure local notifications for different topics, I might need to cancel them later and reschedule if needed. Until now, I have to keep track of the NotificationIds in order to cancel and reschedule notifications.

Furthermore, for debugging purposes, it would be nice to retrieve a list of all scheduled notifications.

**D

[2020-02-18 09:00] thudugala commented on #73
@thomasgalliker Will look in to it. If I remember correctly, in Android WorkManager doesn't exposed that information.

[2020-02-18 09:42] thomasgalliker commented on #73
I'm not sure if it is a feasible solution to store (at least parts of) the NotificationRequest information in a temporary list, for later access.

[2020-02-19 23:52] PureWeen commented on #72
@thudugala I think you can fix that with a proguard file
https://github.com/xamarin/Xamarin.Forms/blob/master/.nuspec/proguard.cfg

I'm also poking the AndroidX team see if they have any additional thoughts

[2020-02-20 06:14] moljac commented on #72
@thudugala

Proguard file might help, but repro sample would help me a lot. Can you provide one, please?

[2020-02-20 07:21] ProfessorChristian opened #74 "Grouped Notifications"
Hi! This isn't really a feature request but a question, I just don't know any way to reach the developer of this library.

I would just like to ask if this library supports grouped notifications. Like a notification of the same kind stacks together or such.

Thank you!!

[2020-02-20 07:30] thudugala commented on #74
@ProfessorChristian yes in Android, Check NotificationChannelRequest.Group

[2020-02-20 07:46] ProfessorChristian commented on #74
Is there any tutorials for this sir?

[2020-02-20 07:52] ProfessorChristian commented on #74
I just checked the NotificationChannelRequest.Group but somehow threw an Exception Unhandled, saying NotificationChannelGroup doesn't exist.

[2020-02-20 08:09] thudugala commented on #74
Try https://github.com/thudugala/Plugin.LocalNotification/wiki/%5BAndroid---=-26%5D-Notification-Channel
Does not directly talk about Groups but good start

[2020-02-20 08:12] thudugala commented on #72
Can you try https://github.com/thudugala/Plugin.LocalNotification/tree/master/Sample/NuGet

[2020-02-20 08:32] ProfessorChristian commented on #74
I have already tried configuring the local notification sir, but I still don't know how to group them with specific groups.

[2020-02-20 09:03] thudugala commented on #74
can you please attach a sample project with some photos of what are you trying to achieve?

[2020-02-20 13:13] thudugala commented on #72
@PureWeen https://www.nuget.org/packages/Xamarin.AndroidX.Work.Runtime/2.2.0 already has a proguard file. So will it be possible to know that missing, that I need to add ?

[2020-02-21 00:52] ProfessorChristian commented on #74
Let :
Phone A = Jude Joseph John
Phone B = Doctor Dave deb dev
Phone C = Joseph Jasper

In this scenario, Phone A messages Phone B, and Phone B receives a push notification that he got a message from Phone A. But when Phone C sends a message to Phone B, the notification Phone B got from Phone A is replaced by Phone C.
![Scene1](https://user-images.githubusercontent.com/51305140/74993394-cde5e280-5

[2020-02-21 01:04] ProfessorChristian commented on #74
And when I tried the NotificationChannelRequest.Group, it throws an exception.

Saying

![SampleGroup](https://user-images.githubusercontent.com/51305140/74994463-2ff41700-5489-11ea-8b1e-444568473e40.PNG)

[2020-02-21 02:05] ProfessorChristian commented on #74
Did the error reproduced on your end sir?

[2020-02-21 03:42] thudugala commented on #74
Try v5.0.1

https://github.com/thudugala/Plugin.LocalNotification/wiki/%5BAndroid%5D-How-to-group-notifications

[2020-02-21 03:42] #74 closed

[2020-02-21 03:48] thudugala commented on #72
@PureWeen as https://www.nuget.org/packages/Xamarin.AndroidX.Work.Runtime/ already has a  proguard file. I'm not sure what I need to add more. Can you Help ?

FYI:
It seems, when I the directly reference Xamarin.AndroidX.Work.Runtime in my android project and plugin source is directly referenced. It works.
https://github.com/thudugala/Plugin.LocalNotification/tree/master/Sample/Direct

But when pl

[2020-02-21 04:51] thudugala commented on #73
This requires storing NotificationRequest information. As result, need to reference data storing plugin. As I think, it is best to keep this plugin referencing only the must needed. Will not implement this functionally for the moment.

[2020-02-21 04:51] #70 closed

[2020-02-21 04:53] thudugala commented on #69
Closing the issue as solution cannot be provided by this plugging as it's Andoid issue.

[2020-02-21 04:53] #69 closed

[2020-02-21 06:44] ProfessorChristian opened #75 "Group Notification Bug"
The Group Notification Configuration still throws an Exception. Still stating that NotificationChannelGroup doesn't exist.

Or maybe there's something wrong with my code. Can you please check?

**Platform (please complete the following information):**
 - OS: Android
 - Version 28

**Smartphone (please complete the following information):**
 - Device: Pixel 2 Emulator
 - OS: Android 9
 - Version :

[2020-02-21 07:41] thudugala commented on #75
Have you had a look at https://github.com/thudugala/Plugin.LocalNotification/wiki/%5BAndroid%5D-How-to-group-notifications

[2020-02-21 07:57] thomasgalliker commented on #73
Ok, yes, that's fine. Better keep it clean.

[2020-02-21 07:59] #73 closed

[2020-02-21 17:36] PureWeen commented on #72
@thudugala if you add a proguard file to your android project that keeps *androidx.paging.PositionalDataSource* does it work?

So if you add a proguard file with

-keep class androidx.paging.PositionalDataSource { *; }

does that work?

FYI on windows
https://docs.microsoft.com/en-us/xamarin/android/deploy-test/release-prep/proguard?tabs=windows#troubleshooting

[2020-02-24 10:27] thudugala commented on #72
@PureWeen No it does not work.

https://github.com/thudugala/Plugin.LocalNotification/tree/master/Sample/NuGet

![image](https://user-images.githubusercontent.com/4112014/75145021-10950c80-575d-11ea-8b58-02c8cef3906b.png)

[2020-03-02 08:26] moellerbj commented on #71
Unable to update to netstandard 2.1 because UWP does not support 2.1 yet. Any ideas?

[2020-03-02 14:15] thomasgalliker opened #76 "New Event for "NotificationReceived""
This plugin provides the event NotificationTapped which fires when a user touches the notification alert. How can I get informed about the occurrence of an event if I can't rely on the user to touch the notification?

I need something like an "NotificationReceived" event which tells me that the notification is displayed to the user. I could use such an event to cancel a recurring notification seri

[2020-03-02 18:19] thudugala commented on #76
@thomasgalliker yes, can be done in next version.

[2020-03-03 08:54] thomasgalliker commented on #76
Let me ideate about this enhancement. This is - what I think - we probably need to do:

- Create new event "`OnNotificationReceived`" in `INotificationService`, similar to `OnNotificationTapped` event.

**Android:**
- Raise `OnNotificationReceived` event just after we have created a new notification request:
_notificationManager?.Notify(request.NotificationId, notification);

**iOS:**
- Somewhere

[2020-03-03 10:47] thudugala commented on #76
@thomasgalliker Please send a PR 👍

[2020-03-04 03:20] ProfessorChristian commented on #75
The Grouped notifications worked, But I still have to look up some materials or find out how to append notifications in one group.

Like :

Group Notifications : Notification A.

Then an Event triggers, producing Notification B.

Group Notifications : Notification A, Notification B.

[2020-03-04 08:34] thudugala commented on #75
Please send a PR when you have time to improve documentation.

[2020-03-04 08:34] #75 closed

[2020-03-11 15:35] thomasgalliker commented on #76
Due to limitations in iOS, this can't be done. I'm sorry. iOS provides catastrophic backgrounding possibilities. We would have to setup a background fetch job ("PerformFetch") in order to re-schedule notifications and respect Start/EndDates. This is somewhat unreliable and hacky that I think we're better off with closing this issue.

One more thing to mention: The sample app allow to select Date+T

[2020-03-11 15:36] #76 closed

[2020-03-18 00:51] FredZaros commented on #58
HI! Does anyone has a solution or a workaround for this problem? Getting the same error in release mode, with code shrinker set to R8 and with Plugin.LocalNotification version 5.0.0 and 5.0.1.
More specifically, the following class is missing: androidx.paging.PositionalDataSource

[2020-03-18 01:08] thudugala commented on #58
@GitBOUF please add comment to issue #72

[2020-03-18 01:09] GitBOUF commented on #72
Redirect from (#58)

HI! Does anyone has a solution or a workaround for this problem? Getting the same error in release mode, with code shrinker set to R8 and with Plugin.LocalNotification version 5.0.0 or 5.0.1.
More specifically, the following class is missing: androidx.paging.PositionalDataSource

EDIT: Only way I've found to compile was by adding the following to proguard.cfg:
-keep class andr

[2020-03-18 04:31] GitBOUF commented on #72
Found a workaround, seems like adding the following to proguard.cfg solved the problem in my case:
-keep public class androidx.work.impl.** { *; }
-keep public class androidx.paging.PositionalDataSource { *; }
-dontwarn androidx.paging.PositionalDataSource

[2020-03-19 19:52] NiklasGameDev opened #79 "Scheduled Notifications not working"
I'm trying to schedule a bunch of events for the whole day repeating everyday in Xamarin Forms. I have an array with events containing a timespan for the time of day and a name for the event. For testing purposes I'm scheduling these events in the constructor of my Testpage. I loop through all events and set the notification ID to the iteration index. I have a Testbutton to show a notification in

[2020-03-26 01:08] GitBOUF commented on #72
Updating the following nugets to these version:
- Xamarin.AndroidX.Work.Runtime Version=2.3.3
- Xamarin.AndroidX.Core Version=1.2.0

and adding the following to my proguard.cfg (ignore my previous comments):
- -keep public class androidx.work.impl.WorkManagerInitializer

fixed the issue for me. I'm able to link in release mode with code shrinker set to R8.

[2020-03-26 01:28] thudugala commented on #58
Has a solution in #72

[2020-03-26 01:28] #58 closed

[2020-03-31 01:53] LeoJHarris opened #80 ".net standard 2.1 not compatable with NETFrameworks"
Upgrading to latest on this library is causing issues with my UITest project which uses NETFramework 4.6.1 .

netstandard 2.1 is not compatable with any .NETFramework: https://docs.microsoft.com/en-us/dotnet/standard/net-standard

Error is below failing my build:

 sampleApp targets 'netstandard2.1'. It cannot be referenced by a project that targets '.NETFramework,Version=v4.6.1'

Im guessing late

[2020-03-31 02:02] thudugala commented on #80
@LeoJHarris  Can you please attach a sample project

[2020-03-31 02:05] LeoJHarris commented on #80
@thudugala Yes I can get try get a sample, setting off the linker works for the project to get it to succees the build. Any immediate ideas?

Although I'm pretty sure adding a certain line to the proguard.cfg will fix the issue, Ill investigate around that first since it might be an easy fix otherwise.

[2020-03-31 02:07] thudugala commented on #80
also look into #72

[2020-03-31 04:44] LeoJHarris commented on #80
@thudugala is there a reason for using .net standard 2.1? Can it not be using 2.0 in latest? Going forward it will have issues with project libraries such as any unit testing projects.

[2020-03-31 04:52] thudugala commented on #80
Version 5 and above is targeting Android 10 (this cannot be changed because of android dependency).
Can you please verify that changing to .net standard 2.0 will help you ? I think  .NET Framework does not support Android 10.

[2020-03-31 05:23] LeoJHarris commented on #80
Ill send a sample project as i am unable to get the build working unfortunately. Ill try get something this week.

[2020-04-02 21:13] LeoJHarris commented on #80
@thudugala I migrated my Uni testing project to .net core so I could use latest version of your package and no issue now.

[2020-04-02 21:53] thudugala commented on #79
The OS decides when to show notifications. also on some devices, if the app is not in memory the notifications will not show up.

[2020-04-02 22:53] LeoJHarris commented on #80
If your just unit testing a .net standard project i.e. the shared code then it shouldnt matter about the android 10 support with .NET Framework?

[2020-04-02 23:35] thudugala commented on #80
I think Android 10 is only a issue for UITest.

[2020-04-03 00:24] LeoJHarris commented on #80
I actually raised a question on the forums around .NET Framework vs .Net Core. Do you happen to use .Net Core over .NetFramework when unit testing?

[2020-04-05 07:28] evagelos21 opened #82 "No platform plugin found. Error"
Hi to you,
i have just install the 5.0.3 version and an error appears:
'[Plugin.LocalNotification] No platform plugin found.  Did you install the nuget package in your app project as well?'

My project target 9.0
![image](https://user-images.githubusercontent.com/9623090/78469239-ff5df900-7727-11ea-8c73-730cf628685f.png)

and my code is just simple:
`
var request = new NotificationRequest

[2020-04-09 09:25] realrubberduckdev commented on #82
@thudugala Hi I am also getting the same error. Do you have a sample code to show how this package is supposed to be used? Guessing it should be in Xamarin.Android/Xamarin.iOS project and not netstandard common library? Unsure what the pattern is.

[2020-04-09 09:29] thudugala commented on #82
https://github.com/thudugala/Plugin.LocalNotification/tree/master/Sample/NuGet

[2020-04-09 09:32] thudugala commented on #82
Please follow as in readme.md

[2020-04-09 09:33] realrubberduckdev commented on #82
Thanks @thudugala, sorry for being so daft!

[2020-04-10 10:39] realrubberduckdev commented on #82
Hi, @evagelos21 As I understand (newbie to Xamarin here), the package version 5.0.3 needs your android project to be targeting Android 10.0.
![image](https://user-images.githubusercontent.com/22910832/78985074-c656c780-7b1f-11ea-9d4c-5e76b2c6e24e.png)

I changed the reference to be 4.1.4 in the sample and it worked for me. Hope this helps.

[2020-04-16 02:39] haiduong741 opened #84 "CreateNotificationChannel not found"
Version: 5.0.5
Platform: Android

I didn't found CreateNotificationChannel method in my Activity. Why?
My project:
![image](https://user-images.githubusercontent.com/37478492/79408567-df4ef500-7fc5-11ea-8845-ec28b464ffa9.png)
Your project:
![image](https://user-images.githubusercontent.com/37478492/79408620-f7267900-7fc5-11ea-85bf-7453294eb90d.png)

[2020-04-16 05:06] #84 closed

[2020-04-16 05:09] thudugala commented on #82
@realrubberduckdev thank you for you answer. Closing issue.

[2020-04-16 05:09] #82 closed

[2020-05-05 16:33] zhijianglee commented on #79
Hi, First of all this doesn't work

NotificationCenter.CreateNotificationChannel();
I am getting Notification Center doesn't contain a definition of  CreateNotificationChannel. Are you sure about this?

[2020-05-10 21:17] thudugala commented on #79
@zhijianglee Please follow readme.md

[2020-05-14 14:12] askinadze commented on #79
NotificationCenter.Current.Show(notification);

It works only if NotifyTime is null

[2020-05-14 16:45] Balu2 commented on #79
Hi, I have the same error what zhijianglee has. I followed the readme: target android version is 10.0, When I install version 5.0.3 NotificationCenter doesn't have CreateNotificationChannel definition. When I go back to version 4.1.4 everything is ok again.

[2020-05-14 16:53] Balu2 commented on #79
But wait, I found the solution to this problem: You need to install the package Xamarin.AndroidX.Work.Runtime (v. 2.3.4.1) and Xamarin.AndroidX.MediaRouter (v1.1.0)

[2020-05-18 07:15] thudugala commented on #79
Please try sample code https://github.com/thudugala/Plugin.LocalNotification/tree/master/Sample/NuGet

[2020-05-18 09:26] Balu2 commented on #79
@thudugala, yes I tried this sample and compared it with my project settings. And so I discovered the solution as described above.

[2020-05-18 21:22] thudugala commented on #79
@Balu2 Can you attach a sample solution ? So I can investigate as to why Xamarin.AndroidX.Work.Runtime (v. 2.3.4.1) and Xamarin.AndroidX.MediaRouter (v1.1.0) need to be referenced.

[2020-05-19 07:40] Balu2 commented on #79
@thudugala, it is a project of a customer so I am not able to distribute it.
The project was defined in 2018 and the used packages were upgraded over time.  After upgrading your plugin to the latest version and settings target framework to Android 10, it resulted in the error I mentioned above.
On the other hand your sample project gave no errors, when I compiled it. So what I did this morning, wa

[2020-05-21 01:19] #79 closed

[2020-05-21 16:06] christmas96 opened #86 "Not found platform plugin"
Hello.

Your lib is really cool, but when I try to start application with installed plugin I get next error:
![image](https://user-images.githubusercontent.com/22245101/82577993-76463880-9b94-11ea-8d38-0338dc7440d1.png)

Project settings:
![image](https://user-images.githubusercontent.com/22245101/82578349-ef459000-9b94-11ea-8ef1-b1fb59a962b8.png)

Even in Android project getting error:
![image](h

[2020-05-23 20:58] thudugala commented on #86
Hi can you please attach a sample project?

[2020-05-26 22:49] abrantie1z opened #87 "Avoid opening application on Tap"
this is more of  question sir. Is there way, say if a user clicks on the notification, that app doesnt get invoked?

[2020-05-26 22:53] thudugala commented on #87
@abrantie1z Just to clarify,  You **do not** want app to open when notification is taped ? or When you tap on the notification app does not open ?

[2020-05-26 23:14] abrantie1z commented on #87
i do not want the app to open when notification is tapped

[2020-05-26 23:43] thudugala commented on #87
@abrantie1z If this a android app you comment out
[code]
in Android MainActivity.

I will let you know about IOS after I look in to iOS

[2020-05-27 00:15] abrantie1z commented on #87
alright. Thanks

[2020-05-27 21:12] abrantie1z commented on #87
The plugin doesnt seem to work for me. I am using version 4.1.4 and i dont get any error and nothing shows up when i send a notification

[2020-05-27 21:18] thudugala commented on #87
@abrantie1z Have you tried the same app https://github.com/thudugala/Plugin.LocalNotification/tree/master/Sample/NuGet

[2020-05-27 21:24] #72 closed

[2020-05-27 21:56] abrantie1z commented on #87
No sir, let me do that and report back

[2020-05-27 22:06] abrantie1z commented on #87
Sound = Resource.Raw.good_things_happen.ToString(),
this line gives me an error

[2020-05-27 22:17] abrantie1z commented on #87
i can confirm, it works after following the 4.1.4  sample. but still have issue with this
Sound = Resource.Raw.good_things_happen.ToString(). it seems there is no Raw folder in my android project

[2020-05-27 23:13] thudugala commented on #87
@abrantie1z Please attach your sample project, so I can Have a look

[2020-05-28 08:43] christmas96 commented on #86
Hello. I attach test project with same problem.
[Test.zip](https://github.com/thudugala/Plugin.LocalNotification/files/4694321/Test.zip)

[2020-05-29 14:28] divyesh008 opened #88 "Mono.Linker.MarkException: Error processing method: 'System.Void Plugin.LocalNotification.Platform.Droid.NotificationServiceImpl"
**Describe the bug**
After updating Xamarin.Forms version to latest stable version 4.6.0.800 while making build in release mode getting error:

**To Reproduce**
Steps to reproduce the behavior:
1. Update xamarin.forms to 4.6.0.800
2. Go to release mode and archive build

**Expected behavior**
It should generate apk successfully

**Platform (please complete the following information):**
 - OS: Andr

[2020-05-30 00:21] abrantie1z commented on #87
I have the issue fixed sir, thank you. But waiting for ios fix on when a user taps on the notification

[2020-05-30 05:29] thudugala commented on #86
@christmas96 Must use Xamarin.Forms 4.5.0.356 or above. Try updating  Xamarin.Forms

[2020-05-30 05:36] thudugala commented on #88
@divyesh008 Can you please attach a sample project ?

[2020-05-30 13:29] divyesh008 commented on #88
No, can't share the project on it

[2020-05-31 10:07] thudugala commented on #88
@divyesh008 I do not the original project. Just recreate the issue in a sample project and attach it.

[2020-05-31 10:11] thudugala commented on #87
@abrantie1z It seems, **not** possible to, **not** to open the app when a local notification is clicked in iOS

https://stackoverflow.com/questions/25925303/how-to-disable-opening-app-when-user-tap-push-notification

https://stackoverflow.com/questions/28019991/do-not-open-the-app-when-a-local-notification-is-clicked-in-ios

[2020-06-01 09:07] divyesh008 commented on #87
Here is the code project link: https://www.dropbox.com/s/5479fphfsuu29em/NewControlsDemo.zip?dl=0

Steps to reproduce error:
1. Open the project and set android as startup project
2. Change app mode to release and try to build application it will show exception

Check this screen shot:

![Screenshot 2020-06-01 at 2 36 03 PM](https://user-images.githubusercontent.com/10617244/83394015-71477b80-a415

[2020-06-01 09:09] divyesh008 commented on #88
@thudugala  Here is the code project link: https://www.dropbox.com/s/5479fphfsuu29em/NewControlsDemo.zip?dl=0

Steps to reproduce error:
1. Open the project and set android as startup project
2. Change app mode to release and try to build application it will show exception

Check this screen shot:

![Screenshot 2020-06-01 at 2 36 03 PM](https://user-images.githubusercontent.com/10617244/83394015-7

[2020-06-01 14:28] christmas96 commented on #86
Thanks for help, work fine.
But now I need to resolve some bugs that comes with new Forms, especially on iOS)

[2020-06-01 16:14] #86 closed

[2020-06-02 05:47] thudugala commented on #88
@divyesh008 I updated PackageReference in your project. It's working now.
[NewControlsDemo.zip](https://github.com/thudugala/Plugin.LocalNotification/files/4714987/NewControlsDemo.zip)

[2020-06-04 05:48] fazil1979 commented on #88
@thudugala actually I have also fix the issue by following workaround:
-Update Net standard to 2.1
-Update Plugin.LocalNotification to latest version 5.0.4
-Remove unnecessary Android X nuggets
-Remove Xamarin.Android.Support.v7.MediaRouter

Still Can you explain me why this exception is raising with Android ?

[2020-06-04 05:51] divyesh008 commented on #88
@thudugala actually I have also fix the issue by following workaround:

- Update Net standard to 2.1
- Update Plugin.LocalNotification to latest version 5.0.4
- Remove unnecessary Android X nuggets
- Remove Xamarin.Android.Support.v7.MediaRouter

Still Can you explain me why this exception is raising with Android ?

[2020-06-07 01:57] thudugala commented on #88
@divyesh008

In android this plugin (version 5) depends on Xamarin.AndroidX.Work.Runtime. As you can see it's part of Xamarin.AndroidX. As a result, you need to target Android 10, Xamarin.Forms 4.5.

So when you updated to Xamarin.Forms 4.6, you need to update this plugin also to version 5, Plugin version 4 will not work as old dependency Xamarin.Android.Arch.Work.Runtime does not with Xamarin.For

[2020-06-09 13:38] divyesh008 commented on #88
@thudugala

But you do not have installed Xamarin.AndroidX.Work.Runtime in demo, so it comes default with version 5 plugin?

[2020-06-09 13:40] divyesh008 commented on #88
@thudugala

Thank you for the knowledge sharing and for the solution too!

[2020-06-09 13:40] #88 closed

[2020-06-12 07:52] Sebastiii opened #91 "No notification when scheduled and when screen is OFF (Android)"
**Describe the bug**
Hello, when setting a notification (by scheduler) and close the screen (like Android in standby)
There is no notification sent or at least my BT wrist set to vibrate on notification didn't start (while other notification is working)

**To Reproduce**
Steps to reproduce the behavior:
1. Set a time on LocalSample APP for Android
2. Tap to send notification
3. Press power button

[2020-06-13 11:07] thudugala commented on #91
@Sebastiii Can you try on deferent device ? A Samsung phone maybe.

[2020-06-15 12:49] Sebastiii commented on #91
@thudugala I will try to find one for testing yes :)
Thanks.

[2020-06-19 14:27] AngeloLazzari opened #92 "Impossible to install on xamarin form 4.7.0.968"
Hi, we have a xamarin form cross platfotm project and we want to use your great plugin, but when we try to install on the common project visual studio says that the plugin cannot be installed... we installed directly to the Droid and Ios and all is working...

So, the question are:
- do we only install it on the specific Droid and ios?
- Installing in that way, how we can use it from the common xa

[2020-06-19 15:29] chrisfoulds commented on #92
Are you running netstandard 2.1 ?

[2020-06-20 03:59] thudugala commented on #92
Hi @AngeloLazzari

Please read through the README.md in detail.

1. Install into your platform-specific projects (iOS/Android),
2. Install into any .NET Standard **2.1** projects required for your app.
3. Must Use Xamarin.Forms **4.5.0.356** or above.
4. Project should target Android framework **10.0+**

look at the sample code here https://github.com/thudugala/Plugin.LocalNotification/tree/master

[2020-06-20 04:14] #87 closed

[2020-06-20 08:55] AngeloLazzari commented on #92
ok ok all is working now...i had 2.0 not 2.1 sorry ... and thanks for your help.

Angelo

[2020-06-20 08:55] #92 closed

[2020-06-24 15:55] Kiitoksia opened #93 ".NET Standard 2.1 Dependency"
Hello,

Is there a reason that version 5.X requires .NET Standard 2.1 instead of 2.0?  We are using the library in a scenario where we can't realistically upgrade to 2.1.  Would be good to lower this to at least 2.0 for compatibility reasons.

[2020-06-24 17:09] Kongzilla commented on #93
Same here.

[2020-06-25 07:59] thudugala commented on #93
Hi, is your Android app targeting Android 10?

[2020-06-25 08:24] Kiitoksia commented on #93
Our app is targeting Android 10, yes.
I cloned the source locally and put the requirement back to .net standard 2.0 which resolved my issue, but would be good adjust main if possible.

[2020-06-25 08:34] thudugala commented on #93
@Kiitoksia  Can you explain in bit more detail, if targeting Android 10, Why can't the shared project be updated to .NET Standard 2.1 ?

[2020-06-25 09:49] Kiitoksia commented on #93
We are using other internal libraries that target .NET Standard 2.0 and are used in .NET Framework applications.  As .NET standard 2.1 is not compatible with .NET framework, we can't upgrade those libraries to 2.1.

.NET Standard 2.0 however supports Framework, so downgrading to this will help our scenario.

[2020-06-25 10:51] thudugala commented on #93
Hi, I failed to understand just because your internal libraries are .net standard 2.0. Why can't you reference them in your Xamarin shared project that is .net standard 2.1.

[2020-06-25 12:57] Kiitoksia commented on #93
Ahh...it was a very long day yesterday.  You're right, I could have stuck with 2.1, but thanks for adjusting the project anyway :)

[2020-06-25 12:57] #93 closed

[2020-06-26 05:44] mauro-dasilva opened #94 "Additional Repeat Schedules"
As far as I can see you can only repeat notifications on a daily or weekly basis. It would be great if you could repeat the notifications on an hourly, and possibly even a minute basis.

[2020-06-28 16:30] Sebastiii commented on #91
Hi :)
It's working so it's something to do with battery management
I did test your sample version 👍

We can close the issue then 😊

I have one request, maybe I should opened a new subjet ?

Is it possible to add code to have the sample plugins running as service to have it start on reboot and always ON ?
Thanks.

[2020-06-29 07:11] SagarPanwala commented on #11
@thudugala  I can see 1 bug may be related to this, App is not resetting badge count at all after the app. Even though in sample we have code to ResetBadgeNumber when app comes to foreground

[2020-06-29 07:57] thudugala commented on #91
@Sebastiii this plugin is using Xamarin.AndroidX.Work.Runtime that Schedule notification task with WorkManager. https://developer.android.com/topic/libraries/architecture/workmanager. So it is already "running as service to have it start on reboot and always ON"

[2020-06-29 14:01] askinadze commented on #32
Why the docu is showing LocalNotificationTappedEvent while only NotificationTappedEventArgs  is working?

[2020-06-30 00:59] thudugala commented on #32
@askinadze Documentation fixed

[2020-06-30 15:00] Sebastiii commented on #91
Hi,
I surely made a mistake but when testing your sample APP, it didn't restart on fresh boot, need to add something in AndroidManifest.xml ?
Thanks

[2020-07-01 13:09] DonjetSalihi commented on #94
Yeah i would need this feature also.

[2020-07-09 09:47] fun-works opened #95 "Need to fetch all the already scheduled notifications"
**Is your feature request related to a problem? Please describe.**
I want to retrieve all the scheduled notification and list them in my application.

**Describe the solution you'd like**
Provision to fetch my scheduled notifications.

**Describe alternatives you've considered**
There is a platform specific alternative which can be done. But it is not maintainable.

**Additional context**
I am usi

[2020-07-13 21:35] thudugala commented on #95
Please look in to #73 Get configured notifications

[2020-07-22 09:50] sikandaramla opened #97 "Repeat feature with a predefined end date."
Hi,
As far as I can see, right now you have repeat feature but it is for the indefinite time, can we have an end date so repeat stops after that?

This will be a significant feature addition.

[2020-07-23 09:59] Mataboge opened #98 "No scheduled notification when Android App is killed."
**Describe the bug**
When scheduling a notification at a specific time and then killing the App before that time arrives, the notification does not pop up on Android. When the application is on the foreground (or even running in the background) it seem to be working fine.

iOS seems to be working fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule a notification
2. kill the App
3.

[2020-07-23 20:29] thudugala commented on #98
@Mataboge Can you try on a real device like Samsung

[2020-07-24 21:33] Mataboge commented on #98
I have changed the way I close the App in the meantime - it seems to be responding well, I will test on a Samsung device soon and see.

[2020-07-24 21:39] Mataboge commented on #98
@thudugala: Weirdly enough, the Notification tapped event method is not raised when tapping. The App does open normally when you tap the notification, but it does not go through that method. I have placed the method exactly as described in the documentation page in App.xaml.cs

`    private void Current_NotificationTapped(NotificationTappedEventArgs e)
        {
            Debug.Print("notificati

[2020-07-25 03:01] thudugala commented on #98
@Mataboge can you attach a sample project

[2020-07-30 21:00] henriqueu96 opened #99 "NotificationTapped is never fired on IOS 13.6"
**Describe the bug**
When it try to catch the NotificationTapped event on IOS 13.6

[code]
The event is never fired.

**To Reproduce**
Steps to reproduce the behavior:
Get this code:
[TesteApp.zip](https://github.com/thudugala/Plugin.LocalNotification/files/5003748/TesteApp.zip)
Run with IOS 13.6
Touch the notification
Wait for the event to be fired

**Expected behavior**
The event should be fired

[2020-08-06 18:17] henriqueu96 commented on #99
There was an update on Xamarin.IOS, i will test it with the new version today, someone can take a look if it is not a local issue?

[2020-08-07 00:14] thudugala commented on #99
@henriqueu96 do not have access to a MacBook right now. Will look into it as soon as possible.

[2020-08-07 00:17] thudugala commented on #97
@sikandaramla it's bit of a tricky change in IOS. Will look into it

[2020-08-07 00:19] thudugala commented on #94
@mauro-dasilva it's bit of a tricky change in IOS. Will look into it

[2020-08-07 00:20] #91 closed

[2020-08-07 13:46] maciejpawlo commented on #99
I've noticed the same issue on Android 10 (Samsung Galaxy A7 (2018)). App opens, but the event isn't fired. It's a bit weird, because it has worked for me before, both on iOS and Android.

[2020-08-14 18:56] cgould16 commented on #28
Still running into this issue.  Any tips?

[2020-08-14 19:06] cgould16 opened #101 "Android Only - Plugin not installed"
Hello!

I am using the Android 9.0 that you suggested in the prior issues.  I have the nuGet package installed under my main solution dependencies, but it wont work for android.  The plugin runs fine on iOS.

[2020-08-20 06:53] psun888 opened #104 "This doesn't work with Xamarin Shared Project iOS"
Under xamarin shared project, only Android is working, iOS is not.

I tried both to reference the project directly and to install package from Nuget. Any recommendations?

Thanks for the good project.

[2020-08-28 09:20] jmseatssoftware commented on #98
Hi! Same behavior here on Moto Z3 / Android 8.1 phone. It can be easily reproducible with the demo App (no scheduled notifications when the app is killed). I use Plugin.Notifications since more than one year and realized this started happening when changed the target from Android 9 to Android 10. I have used the "Migrate to AndroidX" feature of Visual Studio 2019 v16.7.2

[2020-08-28 14:42] maciejpawlo commented on #99
@thudugala have you looked into it?

[2020-08-31 14:31] maciejpawlo commented on #99
Ok, I've just found out why NotificationTapped wasn't fired on my Android project. The reason of an issue was a custom launch screen, which was created as another acticity; with its MainLauncher attribute set as 'true' (just like there: https://docs.microsoft.com/en-us/xamarin/android/user-interface/splash-screen).

[2020-08-31 14:36] maciejpawlo commented on #98
@Mataboge https://github.com/thudugala/Plugin.LocalNotification/issues/99#issuecomment-683816111 hope it could be helpful for you

[2020-08-31 20:06] thudugala commented on #101
@cgould16 Can you please attach a sample project ?

[2020-08-31 20:07] thudugala commented on #104
@psun888 Can you please attach a sample project ?

[2020-09-01 09:56] Mataboge commented on #98
@maciejpawlo Thank you very much for this, This seems to be exactly what happened in my case since I have a custom splash screen as described in your link. How did you then trigger the event? do you trigger it in the splashcreen activity?

[2020-09-01 10:15] maciejpawlo commented on #98
@Mataboge I did a little workaround. I had tried triggering event in splashcreen activity, but it didn't work so I changed the way how the splashscreen shows (don't know if its a 'proper' way, but it works). I had disabled my SplashScreen activity (set the MainActivity MainLauncher prop back to 'true'). Then in styles.xml I set the property of android:windowBackground to my .xml splashcreen file.

[2020-09-03 14:05] nbsoftware commented on #99
My experience:
- called on Android (X)
- not called on iOS although UNUserNotificationCenterDelegate.DidReceiveNotificationResponse is indeed called
It definitely has worked before.

[2020-09-04 13:59] maciejpawlo opened #105 "OnNotificationReceived event"
It would be great to have OnNotificationReceived event implemented. It would help a lot with management of home screen icon badge number (especially on iOS).

[2020-09-14 19:55] alexisVidal29 opened #108 "Not working on release mode"
it doesnt show notifications on release mode, on debug works fine but nothing shows on release

[2020-09-22 12:49] henriqueu96 commented on #99
Still not working

[2020-09-23 08:27] LeoJHarris opened #111 "Button actions feature?"
Not sure if this would be outside the scope of this plugin but is it possible to add in button options to a local notification. Such that a user can select an option and then pass the id of the action pressed into NotificationTapped event so that it can be handled in the application?

Abit like this:

![foreground-services-02](https://user-images.githubusercontent.com/5468757/93986874-f8609b00-fdd

[2020-09-23 12:20] jigneshbodarya commented on #98
I'm experience the same issue, Any update here?

[2020-09-24 12:34] GiampaoloGabba opened #112 "[BUG] When negating permission the first time on iOS, the app needs to be killed to read new permission gave from the ios settings"
If i negate notification permissions the first time the `NotificationPlugin` asks for them, and then i go to the iOS settings (while my app is still in background) and allow the notification, the `NotificationPlugin` dont "see" the new permission unless the app is killed and reopened

I think this is due the `static bool _alertsAllowed` always return its value when already sets.
so when we change

[2020-09-24 20:50] thudugala commented on #112
@GiampaoloGabba If a user say no to notification. Wouldn't this correction keep asking for it ? even user said no.

[2020-09-24 21:35] #112 closed

[2020-09-24 21:59] thudugala commented on #112
@GiampaoloGabba Published under v5.0.7

[2020-09-24 22:04] #94 closed

[2020-09-24 22:04] thudugala commented on #94
@mauro-dasilva Published under v5.0.7

[2020-09-25 11:42] mauro-dasilva commented on #94
Awesome, thanks so much bud. Appreciate the efforts!

[2020-09-28 19:33] #105 closed

[2020-09-28 19:59] thudugala commented on #105
Published with v5.1.0

[2020-09-28 20:05] thudugala commented on #101
@cgould16 Project should target Android framework 10.0+

[2020-09-28 20:09] thudugala commented on #108
@alexisVidal29 Can you please attach a sample project ?

[2020-09-28 20:29] alexisVidal29 commented on #108
im using like this, in OnAppearing, on debug it shows with no problem, but on realease simply doesnt show but it runs over there because after that i update a table
`var notification = new NotificationRequest
                                {
                                    NotificationId = 200,
                                    Title = "Axeso",
                                    Descriptio

[2020-09-28 20:37] thudugala commented on #108
@alexisVidal29 Can you please verify it with https://github.com/thudugala/Plugin.LocalNotification/tree/master/Sample/NuGet

[2020-09-29 14:46] MarcoNarde commented on #98
Someone solved the issue?

[2020-10-01 22:26] AviatorRodent commented on #98
I have the same problem. Location notifications are being delivered without issue on iOS (with app in foreground, background, and killed). For android however, I'm only getting the notifications if the app is in foreground or background NOT when killed.

Any scheduled notifications due to be received while the app was closed, appear to be delivered when the app is opened again.

[2020-10-08 23:10] Mataboge commented on #99
Event no working on IOS when App was killed. When App is on foreground or background the event is called. Please fix

[2020-10-12 09:47] jigneshbodarya commented on #98
Any updates?

[2020-10-14 19:37] b3hrus opened #117 "Infinite loop in ScheduledNotificationWorker"
NotifyRepeatInterval in NotificationRequest is not getting serialized. The deserialized value is always '00:00:00' and not null.

That results in an infinite loop in ScheduledNotificationWorker:

` while (notification.NotifyTime <= DateTime.Now)
{
notification.NotifyTime = notification.NotifyTime.Value.Add(notification.NotifyRepeatInterval.Value);
}`

Ref: https://stackoverflow.com/questions/63793

[2020-10-26 11:25] AviatorRodent commented on #98
Any update on this @thudugala? Do you have an idea as to when it might be fixed?

[2020-11-09 19:11] wcoder opened #122 "[Android] NotificationRepeat executes only once"
**Describe the bug**

Internally used `OneTimeWorkRequest` can only show a delayed notification.

`ScheduledNotificationWorker` implementation can't "schedule" the notification it means that all "Repeats" functionality doesn't work (unlike on iOS side).

**To Reproduce**

[code]

**Expected behavior**
After 30 seconds, a notification will be displayed and shown again every 60 seconds.
iOS works as

[2020-11-09 21:43] #117 closed

[2020-11-18 20:02] jmeyerworms opened #124 "NotificationCenter.Current.Show should return a Bool result"
Hi,

if i call NotificationCenter.Current.Show i dont know if the creation was succesfull , for the user to show a error dialog.

a solution:
return a bool value would be great
more better a enum like value so we can show a error dialog as example no rights, or rights dissmissed for notification.

greets.

[2020-11-23 01:17] #122 closed

[2020-12-17 11:29] Suplanus opened #129 "macOS support"
Support for macOS would be great 💖

[2020-12-17 20:35] thudugala commented on #98
Fixed in v5.20

[2020-12-17 20:35] #98 closed

[2021-01-03 10:48] Suplanus opened #130 "Android: Image support"
**Is your feature request related to a problem? Please describe.**
I would love to add an image to the notification.

**Describe the solution you'd like**
Platform specific implementation, so we can expand this feature with the rich notification in iOS and have no deependings on Android implementation

**Describe alternatives you've considered**
Same as in Android and it would be a property cross

[2021-01-12 21:25] maxkoshevoi opened #132 "Move to XamarinCommunityToolkit"
Hi, starting from Xamarin 5 there is [XamarinCommunityToolkit](https://github.com/xamarin/XamarinCommunityToolkit) NuGet package that is supported by community and intended to be single stop for all Xamarin needs that isn't included in official NuGets.

Are there plans to add this package there?

[2021-01-12 21:48] thudugala commented on #132
Yes, when time permit

[2021-01-21 13:42] Sergiu-Cosmin opened #133 "Unit Tests missing"
hello,

we would love to use your library for our product but our acceptance criteria states that the external libraries that we want to use need to have some kind of tests (Unit Tests or at least some UI Tests) to get a "guarantee" of quality.

may I ask why are there no unit tests present in this library ?

[2021-01-21 14:35] angelru commented on #130
any update?

[2021-01-21 14:45] angelru opened #134 "iOS - restart and app close"
Are notifications showing even if the phone is restarted in iOS or the app is closed?

[2021-01-21 20:00] thudugala commented on #133
@Sergiu-Cosmin Please feel free to submit PR with unit test

[2021-01-21 20:02] thudugala commented on #134
@thudugala Yes

[2021-01-22 07:36] angelru commented on #134
@thudugala I'm going to try thanks

[2021-01-22 07:36] #134 closed

[2021-01-22 09:42] Ezeji commented on #32
Hi @thudugala , Great efforts you put in through your plugin.

I discovered the issue earlier raised by @hjavaher still persists for Xamarin Forms Shell with the bug:
I have the NotificationCenter.Current.NotificationTapped += Current_NotificationTapped; in the App.xaml.cs file above the MainPage=new AppShell(); but no matter what I do this event is not triggered when I click on the notifications.

[2021-01-22 09:56] thudugala commented on #32
@Ezeji can you please attach a sample project.?

[2021-01-22 10:04] Ezeji opened #135 "Notification tap event not working in Xamarin Forms Shell"
Hi @thudugala , Great efforts you put in through your plugin.

I discovered the issue earlier raised by @hjavaher still persists for Xamarin Forms Shell with the bug:
I have the NotificationCenter.Current.NotificationTapped += Current_NotificationTapped; in the App.xaml.cs file above the MainPage=new AppShell(); but no matter what I do this event is not triggered when I click on the notifications.

[2021-01-22 10:12] Ezeji commented on #32
Alright @thudugala,

Let me attach a link to the project right away. Few minutes please

[2021-01-22 12:06] Ezeji commented on #32
Hi @thudugala,

Here's a google drive link to the project(xamarin forms shell):
https://drive.google.com/drive/folders/1htDWF3NLeRKF47H6vO7wfZicDpBxRmFQ?usp=sharing

I look forward to your help so as to meet up with the project's timeline. Thanks once again

[2021-01-22 13:59] michaelconnolly1 commented on #32
I have a similar problem on Android and when I click on the notification the NotificationTapped method does not get called and instead the app reopens (even though it's already open). It works fine on iOS.

The sample app works and I've tried using all the same versions of .NET, Xamarin Forms, etc but still can't get it work on Android. I've even tried going back to version 4.1.4 but still can't g

[2021-01-22 14:25] michaelconnolly1 opened #136 "NotificationTapped not getting called on Android"
I have a similar problem to Issue 32 on Android and when I click on the notification the NotificationTapped method does not get called and instead the app reopens (even though it's already open). However, it works fine on iOS.

Your sample app on Github works and I've tried using all the same versions of .NET, Xamarin Forms, etc in my application but still can't get it to work on Android. I've eve

[2021-01-22 14:30] michaelconnolly1 commented on #99
I also have a splash screen activity with mainlauncher = true and not getting the NotificationTapped event on Android. How do you fix the issue - do I move the Plugin.LocalNotification set up code from MainActivity to my splash screen activity?

[2021-01-22 15:32] Mataboge commented on #99
@michaelconnolly1 check this out, it addresses your problem.

https://github.com/thudugala/Plugin.LocalNotification/issues/98#issuecomment-690357888

[2021-01-23 08:07] angelru commented on #136
@michaelconnolly1

try setting MainActivity as `LaunchMode = LaunchMode.SingleTop`, try putting your SplashScreen as follows:

[code]

[2021-01-24 20:39] thudugala commented on #32
@Ezeji you sample project has a SplashActivity, Please have look at https://github.com/thudugala/Plugin.LocalNotification/wiki/Getting-NotificationTapped-to-work-with-splash-screen

[2021-01-24 20:42] thudugala commented on #135
@Ezeji Check if you project is using a splash screen, then please look at below wiki link
 https://github.com/thudugala/Plugin.LocalNotification/wiki/Getting-NotificationTapped-to-work-with-splash-screen

[2021-01-24 20:51] #101 closed

[2021-01-24 20:52] #104 closed

[2021-01-24 21:59] Ezeji commented on #32
Alright @thudugala, Let me check it out and revert.

Thanks for your efforts.

[2021-01-24 21:59] Ezeji commented on #135
Alright @thudugala, Let me check it out and revert.

Thanks for your efforts.

[2021-01-24 22:08] #108 closed

[2021-01-24 22:08] #99 closed

[2021-01-25 14:56] michaelconnolly1 commented on #136
Many thanks, changed the splash screen from being a separate activity to being handled by MainActivity and all is working now. So it seemed to be the fact that the Splashscreen activity was the launch activity rather than MainActivity.

[2021-01-27 16:04] Ezeji commented on #32
Hi @thudugala, thanks for the resource shared.

It worked like charm particularly this article was the plug: https://progrunning.net/best-way-to-create-a-splash-screen-in-xamarin-forms-android-project/

Thumbs up to your team on this plugin.

[2021-01-27 16:05] Ezeji commented on #135
Hi @thudugala, thanks for the resource shared.

It worked like charm particularly this article was the plug: https://progrunning.net/best-way-to-create-a-splash-screen-in-xamarin-forms-android-project/

Thumbs up to your team on this plugin.

[2021-01-27 16:05] #135 closed

[2021-01-30 18:19] paullly commented on #136
I'm actually experiencing the same problem. Could you elaborate on what you changed? Thank you very much.

[2021-02-01 09:50] angelru opened #137 "[Enhancement] change string ReturningData"
I think it would be nice to change `ReturnData `to:
`IDictionary<string,object> Data`
what do you think?

[2021-02-11 09:38] Steffenberg opened #139 "[Enhancement] Support foreground notification sound on iOS"
Hey there,
I have an use case where having an option for a notification sound while the app is in foreground on iOS (described here https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/SchedulingandHandlingLocalNotifications.html - "Handling Notifications When Your App Is in the Foreground") is needed.

I made a fork and came up with a simpl

[2021-02-11 10:01] thudugala commented on #139
@Steffenberg please do PR. Thanks

[2021-02-11 12:59] ArunPrakashG opened #141 "[Enhancement] Implement fluent pattern for creating notifications"
Fluent pattern can improve the creation of Notifications instead of current system.
would be glad to see them in here.

I have implemented something similar in one of my projects, however it is not final or complete by any means. just implements the basic functionalities to create a notification.

Here, you can start by either instantiating `NotificationBuilder(int notificationid)` directly or by

[2021-02-17 11:46] angelru commented on #95
is there any way to access? or do we have to implement it on our own?

[2021-02-17 19:31] thudugala commented on #95
@angelru Please have your own database to manage push out notification.

[2021-02-18 13:57] angelru commented on #137
@thudugala ping

[2021-02-18 14:16] pikausp commented on #137
I vote to leave it as it is. Anyone can serialize/deserialize the content as they need.

[2021-02-26 09:54] #137 closed

[2021-03-02 10:25] tranb3r opened #146 "[Bug] Strange app lifecycle when resuming app from lock screen notification"
**Describe the bug**

On Android, when resuming an app by tapping on a local notification from the lock screen, the app resumes, then goes to sleep, then resumes again.

Is this an android bug, a xamarin forms bug, or a bug in the localnotification plugin ?

**To Reproduce**

Steps to reproduce the behavior:
1. Open the sample app and tap on "send local notification"
2. Turn the phone off and on a

[2021-03-14 08:08] #95 closed

[2021-03-14 09:27] #141 closed

[2021-03-14 09:29] #136 closed

[2021-03-24 10:18] ArunPrakashG opened #148 "[Readme Update] Update Readme.md with Notification builder example code."
As now there is a different way to create notification requests, i thought it might be a good idea to update the sample on the Readme.md page.
there is still a page in Wiki that needs updating [Here](https://github.com/thudugala/Plugin.LocalNotification/wiki/%5BAndroid---=-26%5D-Notification-Channel#setting-up-notification-channels)

this sample can be updated with the Builder type as well.

This

[2021-03-24 11:00] #148 closed

[2021-03-24 11:11] naouarmajed opened #150 "Application reloaded on tapping notification"
When Im using splash activity, on notification tapped event my application is restarted,
On my App.cs, OnLocalNotificationTapped is fired:

`private void OnLocalNotificationTapped(NotificationTappedEventArgs e)
        {
            return;
        }`

And this is my splash activity:

[code]

And my MainActivity:

[code]

[2021-03-29 06:57] gayugokhale commented on #150
I am also having same issue. on notification tapped, Login screen is displayed in my scene.

[2021-03-30 06:41] gayugokhale commented on #50
I am using version 5.2.0 but issue is still there. I am not seeing any `ExtraReturnDataAndroid ` variable. and I tried to add that code in my splash activity but issue still persists. NotificationTapped event not fired when I tap on notification. It navigates to login screen in my case.

[2021-04-02 13:01] janousek opened #152 "Unable to update notification"
**Describe the bug**
It is not currently possible to update the notification. Each time "NotificationCenter.Current.Show" is called, the old notification is cancelled: https://github.com/thudugala/Plugin.LocalNotification/blob/e7cfe52cdba93cb84d59cab092d854ca3cb7ef22/Source/Plugin.LocalNotification/Platform/Droid/NotificationServiceImpl.cs#L145
This is problem if you want just update notification

[2021-04-03 11:09] ArunPrakashG commented on #152
Isn't this fixed in the latest source ?

[Check here](https://github.com/thudugala/Plugin.LocalNotification/blob/2284cd8b122985535afe03496534907553b26997/Source/Plugin.LocalNotification/Platform/Droid/NotificationServiceImpl.cs#L163)

`cancelBeforeShow` bool controls it.
Setting it to false will not call the `Cancel()` on the notification.

[2021-04-03 12:52] thudugala commented on #152
@ArunPrakashG the option is not exposed to top level. Will fix it soon.

[2021-04-03 12:55] thudugala commented on #150
@naouarmajed Can you please created a sample app and upload here ?

[2021-04-07 20:46] Kalyxt commented on #150
I run into the same issue, however I was unable to reproduce issue in my test project, which is really weird.

https://github.com/Kalyxt/NotificationTest

[2021-04-19 13:15] dejanbasic commented on #150
You need to set _LunchMode_ to _SingleTask_ in your _MainActivity_: `LaunchMode = LaunchMode.SingleTask`

[2021-04-19 13:40] Kalyxt commented on #150
@dejanbasic Same result, I've tried it in sample project but splash screen is still there.

[2021-04-19 14:22] dejanbasic commented on #150
@Kalyxt use this code in your _SplashActivity_ and it will work fine:

`
        protected override void OnCreate(Bundle savedInstanceState)
        {
            base.OnCreate(savedInstanceState);
        }

        // Launches the startup task
        protected override void OnResume()
        {
            base.OnResume();

            var mainIntent = new Intent(Application.Context, typeof(Mai

[2021-04-20 00:28] #150 closed

[2021-04-20 15:12] tranb3r commented on #146
@thudugala Thank you for answering.
It seems to me that #150 is a totally different issue. But maybe I've missed something ?
What do you recommend exactly ? Do you think you can fix the sample app ?

[2021-04-21 12:06] psnogi opened #154 "Repeat Feature"
Hi,
First of all, Fantastic job. It works even if app is closed.

Can you add extra bit of documentation on how to use the Repeat feature?

For example :

 Repeats = RepeatSwitch.IsToggled ? **NotificationRepeat.TimeInterval**  : NotificationRepeat.No,
                Android =
                {
                    IconName = "my_icon",
                    //AutoCancel = false,

[2021-04-21 16:36] psnogi commented on #154
Part 1 solved!

[2021-05-03 19:00] naman20sharma opened #155 "Mono.Linker.MarkException: Failed to resolve System.Int32 Plugin.LocalNotification.Resource/Boolean::enable_system_foreground_service_default"
**Describe the bug**
Getting the following error after updating xamarin. forms to 5.0.0.2012, Xamarin.AndroidX.Work.Runtime to 2.5.0.1 and Plugin.LocalNotification from 4.1.4 to latest stable version 5.2.0.

**To Reproduce**
Steps to reproduce the behavior:

1. Update xamarin.forms to 5.0.0.2012
2. build the solution in Release mode.

**Expected behavior**
It should build the application successfu

[2021-05-12 03:14] maxchu92 opened #156 "Plugin.LocalNotification NotificationTapped event does not work with Prism.DryIoc.Forms on Android"
**Describe the bug**
I tried using Plugin.LocalNotification in my Prism.Forms.DryIoc project, Notification trigger, channel, receive event, everything works except NotificationTapped event. When a notification is tapped, the app just relaunched. Is there anything I'm doing wrongly, or is there any specific way need to be handled before using local notification on Prism project?

**To Reproduce**
S

[2021-05-13 23:32] thudugala commented on #155
@naman20sharma Can you please attach a sample project

[2021-05-13 23:55] thudugala commented on #156
@maxchu92 can you have look at https://github.com/thudugala/Plugin.LocalNotification/wiki/Getting-NotificationTapped-to-work-with-splash-screen

[2021-05-14 01:28] thudugala commented on #124
Fixed in version 6.0.0

[2021-05-14 01:28] #124 closed

[2021-05-14 01:29] thudugala commented on #152
Fixed in version 6.0.0

[2021-05-14 01:29] #152 closed

[2021-05-14 01:30] thudugala commented on #139
Published in Version 6.0.0

[2021-05-14 01:30] #139 closed

[2021-05-14 20:20] maxchu92 commented on #156
Hi @thudugala . Thanks for replying.

I finally made it work by using the method you provided, with a little bit of extra tweak.

So the code for `OnCreate` from [https://github.com/thudugala/Plugin.LocalNotification/wiki/Getting-NotificationTapped-to-work-with-splash-screen](https://github.com/thudugala/Plugin.LocalNotification/wiki/Getting-NotificationTapped-to-work-with-splash-screen) can be pl

[2021-05-14 20:29] maxchu92 commented on #156
Now I m facing another problem, IF the app was launched by the notification tapped, it will launch and trigger tapped event correctly. But if you schedule a notification, from the app that was launched by the notification tapped and tap the notification without closing the app, the tapped event wont trigger again.

[2021-05-17 11:20] aharwood2 commented on #154
I'm using v5.2.0 like this:
[code]

[2021-05-17 13:00] thudugala commented on #154
@psnogi Can you please elaborate on Part 2 ?

[2021-05-17 13:06] psnogi commented on #154
@thudugala Since app is in closed state, the main app window (where the selection controls are) is closed.
After tapping, the notification page opens up, but the navigation button does not do anything as there is no "mainpage" to go to.

[2021-05-17 13:34] aharwood2 commented on #154
@psnogi you mention that "it works even if the app is closed". Presumably you mean paused? If I kill the app completely on Android then the notifications stop working. I presume this is because the library uses WorkManager rather than AlarmManager to handle background notifications? I'm guessing that the former only works if the app is either in the background (paused) or foreground (running) rath

[2021-05-17 20:48] thudugala commented on #154
https://developer.android.com/reference/androidx/work/package-summary

WorkManager should work even if the app is closed.

But I have some phone manufactures override this. Specially in Huawei phones

[2021-05-17 21:08] thudugala commented on #156
@maxchu92 Documentation updated

[2021-05-17 21:10] thudugala opened #157 "Tapped event wont trigger again."
Now I m facing another problem, IF the app was launched by the notification tapped, it will launch and trigger tapped event correctly. But if you schedule a notification, from the app that was launched by the notification tapped and tap the notification without closing the app, the tapped event wont trigger again.

_Originally posted by @maxchu92 in https://github.com/thudugala/Plugin.LocalNotific

[2021-05-17 21:11] #156 closed

[2021-05-17 21:31] thudugala commented on #154
@psnogi Added to Documentation

 https://github.com/thudugala/Plugin.LocalNotification/wiki/Repeat-Notification

[2021-05-17 21:39] thudugala opened #158 "In the sample app, if the app is closed when notification is tapped. back button does not work."
@thudugala Since app is in closed state, the main app window (where the selection controls are) is closed.
After tapping, the notification page opens up, but the navigation button does not do anything as there is no "mainpage" to go to.

_Originally posted by @psnogi in https://github.com/thudugala/Plugin.LocalNotification/issues/154#issuecomment-842309102_

[2021-05-17 21:40] #154 closed

[2021-05-18 01:53] thudugala commented on #146
https://github.com/thudugala/Plugin.LocalNotification/issues/156#issuecomment-841480667

@tranb3r Can you try setting LaunchMode = LaunchMode.SingleTask onto the Activity attribute declaration of MainActivity.cs ?

[2021-05-18 06:20] tranb3r commented on #146
@thudugala I've tested every LaunchModes. It does not make a difference.

[2021-05-18 10:51] maxchu92 commented on #156
Thank you!

[2021-05-21 11:23] jamsoft opened #159 "Missing Methods After Upgrade to 6"
**Describe the bug**

After upgrade method on Android like NotifyNotificationTapped can no longer be found.

I think the documentation needs updating as these methods all seem to have been removed.

[2021-05-23 01:41] thudugala commented on #159
@jamsoft method is not removed

https://github.com/thudugala/Plugin.LocalNotification/blob/master/Source/Plugin.LocalNotification/Platform/Droid/NotificationCenter.cs

[2021-05-24 08:51] jamsoft commented on #159
Very odd. I must have had some odd compiler issue. Will attempt the upgrade again.

[2021-05-26 14:38] marcominerva opened #160 "NotificationCenter.CreateNotificationChannel() not found on v6.0.0"
Using Xamarin.Forms v5.0.0.2012, If I add the version 5.2.0 of the package (on all projects of course), I can add this line in the MainActivity.cs of the Android project (API level 29) as stated in the documentation:

`NotificationCenter.CreateNotificationChannel();`

If, however, I update the library to v6.0.0, I obtain the error "'NotificationCenter' does not contain a definition for 'CreateNoti

[2021-05-27 09:09] ArunPrakashG commented on #160
It's not removed.
https://github.com/thudugala/Plugin.LocalNotification/blob/9f68c02c6b00df2dfe96d8a18e70978777f5f51e/Source/Plugin.LocalNotification/Platform/Droid/NotificationCenter.cs#L123

maybe try clearing nuget cache and rebuild ?

[2021-05-27 09:23] marcominerva commented on #160
I think the problem is this:

![image](https://user-images.githubusercontent.com/3522534/119801283-d8d7c000-bedd-11eb-9d30-45b76fbee092.png)

This version requires Android v11, while my application uses the v10. Moreover, the .NET Standard version is 2.1, while the Xamarin.Forms project uses v2.0.

[2021-05-27 09:26] ArunPrakashG commented on #160
Yeah, i just updated and checked on my project and had the same issue.

[2021-05-27 10:40] ArunPrakashG commented on #160
Just added a [PR](https://github.com/thudugala/Plugin.LocalNotification/pull/161) for this issue

[2021-05-27 20:56] thudugala commented on #160
@marcominerva

The reason for using Android version 11

https://docs.microsoft.com/en-us/xamarin/android/app-fundamentals/android-api-levels?tabs=windows#framework

[2021-05-27 21:00] marcominerva commented on #160
Ok... But what about the .NET Standard 2.1 requirement?

[2021-05-27 22:15] thudugala commented on #159
Same as #160

[2021-05-27 22:15] #159 closed

[2021-05-27 23:07] thudugala commented on #160
@marcominerva if you are using Android 10 and above you can user  .NET Standard 2.1, this allows you to use C# language version 8.0

[2021-05-27 23:53] thudugala commented on #158
@psnogi I think this is a Xamarin issue.

[2021-05-28 00:00] #158 closed

[2021-05-28 00:05] thudugala commented on #157
@maxchu92 can you please create a sample project to demonstrate this issue ? I'm unable recreate the issue.

[2021-05-28 08:37] marcominerva commented on #160
OK, I have updated the common project to .NET Standard 2.1 and now it works, thank you for your support

[2021-05-28 08:37] #160 closed

[2021-05-28 08:40] marcominerva opened #162 "ProgressBarIndeterminate for Android not working"
I'm using the version 6.0.0 of the library and I'm showing a notification with the following code:

[code]

The notification correctly appears, but on Android no Progress Bar is shown.

[2021-05-28 10:20] maxchu92 commented on #157
@thudugala I had updated my repository to recreate the issue. You can refer to the video as well.
[https://github.com/maxchu92/PrismLocalNotificationBug](https://github.com/maxchu92/PrismLocalNotificationBug)

[2021-05-28 10:56] thudugala commented on #162
@marcominerva can you try setting max value and progress value even if they are not used

[2021-05-28 12:36] marcominerva commented on #162
Thank you, setting these properties solves the issue.

[2021-05-29 08:00] #162 closed

[2021-05-29 22:19] thudugala commented on #160
@marcominerva no worries

[2021-06-01 11:50] ptrkbmn opened #163 ".NET Standard 2.0"
Is there any specific reason why the support for .NET Standard 2.0 was dropped? Do those classes really need .NET Standard 2.1 features? If I modify the target frameworks to netstandard2.0 the project still compiles.

[2021-06-02 11:24] andy-shindey opened #164 "IconImage does not display icon in the Android 9 notification"
**Describe the bug**
IconImage atribute does not display icon in the Android 9 notification, it shows a dark gray circle where icon is expected to be displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sample project on the github
2. Download code and run it
3. Check notification on the Android Simulator
4. Icon is not seen

**Expected behavior**
An icon is expected to be display

[2021-06-03 05:39] thudugala commented on #163
@ptrkbmn planning to use NET Standard 2.1 language features.

[2021-06-03 05:42] thudugala commented on #164
@andy-shindey Did you set the IconName ?

[2021-06-03 11:39] andy-shindey commented on #164
I did, also I ran your sample unaltered, and I got the same result. No icon could be seen on the notification.
Thank you for the fast turnaround.
I will look at the link you have sent.

[2021-06-03 12:06] mphill commented on #111
I've added support for this, for iOS only at the moment.

When the app load, there is a new a new RegisterActions method which can be used to register custom notifications actions:

[code]

Please take a look at https://github.com/mphill/Plugin.LocalNotification/commit/0d1dacca35914e60a86a5108b6a6dd1806a1ad76

If you agree with the approach please let me know and I can add Android.

[2021-06-03 21:28] thudugala commented on #97
Added in version 6.1.0

[2021-06-03 21:28] #97 closed

[2021-06-04 05:00] sikandaramla commented on #97
Awesome, thanks.

[2021-06-05 07:16] thudugala commented on #111
@LeoJHarris
FYI

**In Android Category**
Must be one of the predefined notification categories (see the CATEGORY_* constants in Notification) that best describes this notification. May be used by the system for ranking and filtering.

Also, CATEGORY_ values are added in different version of android

[2021-06-05 07:17] thudugala commented on #111
@LeoJHarris
FYI

**In Android Category**
Must be one of the predefined notification categories (see the CATEGORY_* constants in Notification) that best describes this notification. May be used by the system for ranking and filtering.

Also CATEGORY_ values are added in different version of android

[2021-06-05 11:00] mphill commented on #111
I pushed some changes that abstract away the use of the string for the category.

[2021-06-10 10:26] khaledbakeer opened #168 "No notifications in Android with long delay of NotifyTime"
**Describe the bug**
I created a Notification with NotifyTime 10 min and it worked on iOS and Android, until I changed the NotifyTime to +24 hours or greater, it worked on iOS but on Android I did not get any notifications

**Platform:**
 - Android: Tested on android 9, 10, 11 Not worked.
 - iOS Tested on 14.6 and worked perfectly.

**Smartphone:**
 - Device: [Samsung S8, S9, S20, iPhone 12]

[2021-06-11 11:02] thudugala commented on #168
@khaledbakeer just tried myself in One Plus 7T and it worked for me. Can you try using different brands?

[2021-06-16 11:04] deniskg89 commented on #168
maybe the problem can be when user kills the app? (thats my case with new version of plugin. for old one v2.0.7 i do not have this problem)

[2021-06-20 12:40] wcoder opened #171 "[feature] Android 12 - Exact alarm permission"
Android doc: https://developer.android.com/about/versions/12/behavior-changes-12?hl=cs#exact-alarm-permission

[code]

![alarms-and-reminders](https://user-images.githubusercontent.com/766193/122674420-c5b6c800-d1dd-11eb-8cc3-180c0c52d815.png)

[2021-06-24 09:55] Abhamini opened #172 "NotifyTime is not coming in Plugin.LocalNotification"
var _myNotification = new NotificationRequest
            {
                BadgeNumber = 1,
                Description = "My first Notification",
                Title = "Push Notification",
                ReturningData = "Dummy data",
                NotificationId =12345,
            //Not able to put NotifyTime here

            };

[2021-06-25 15:51] jamsoft commented on #160
Hmm ... I cannot get this to compile at all. Even when targetting Android 11.

[2021-06-26 02:04] LeoJHarris commented on #111
@mphill fantastic this will be implemented!

[2021-06-27 12:11] thudugala commented on #172
@Abhamini documentation fixed

[code]

[2021-06-27 12:12] #164 closed

[2021-07-07 11:52] #172 closed

[2021-07-13 09:33] Paulpetta668 commented on #101
Hi, I don't know if I can ask here but I have the same problem.

I added the line in the MainActivity.cs:
`NotificationCenter.CreateNotificationChannel();`

Then I created a class to handle notifications:
[code]
![image](https://user-images.githubusercontent.com/48731892/125427941-7b4bde86-3374-4a9f-b938-82d75d09ff5e.png)

It works perfectly on iOS but not on Android, thanks in advance.

[2021-07-13 21:20] thudugala commented on #101
@Paulpetta668 can you attach a sample project

[2021-07-14 09:22] Paulpetta668 commented on #101
Do I need to upload the project?

[2021-07-17 10:12] thudugala commented on #111
Added support in Version 7.0.0

[2021-07-17 10:12] #111 closed

[2021-07-17 10:13] thudugala commented on #130
Added support for IOS in veriosn 7.0.0

[2021-07-17 10:20] thudugala commented on #130
Need add support in Android

[2021-07-18 12:27] tranb3r opened #177 "Regression in v7.0.0 : AndroidOptions Color is not working anymore"
In Plugin.LocalNotification.Platform.Droid.NotificationServiceImpl, I think the code for setting the color is not correct:
[code]
SetColor expects an ARGB int, not a resourceId.
This was working in previous versions so this is a regression in v7.0.0.

Also, why did you do this change ? In the previous version, we were able to set the color value (ARGB int) directly in NotificationRequest, but now

[2021-07-18 20:11] thudugala commented on #177
@tranb3r Yes, the expectation is to use a colour in android resource, if it's a custom one, developer need to add it to android resource then use the name of the colour.

This makes the code more readable.

[2021-07-18 20:30] tranb3r commented on #177
@thudugala
I don't understand how this makes the code more readable, since it means duplicating the color definition that is already done in the cross-platform library (for a xamarin forms application).
Also, why did you remove the bug label ? This code does not work. SetColor expects an ARGB color, not a resourceId.

[2021-07-18 21:17] thudugala commented on #177
@tranb3r Have not updated the sample with version 7 yet.

in your experience, is it much more likely to use a custom colour, rather than existing colour definition already in android resources ?

[2021-07-18 21:19] #177 closed

[2021-07-19 15:04] InquisitorJax opened #179 "iOS: Sample app doesn't work?"
**Describe the bug**
I'm downloaded the source code, but running the iOS sample app, and tapping the "send local notification" doesn't do anything.

**Expected behavior**
Expected to see a notification when tapping the "send local notification" with the default settings.

am I missing something?

[2021-07-19 15:18] InquisitorJax commented on #163
@thudugala a big blocker here is for those of us that are targeting UWP, upgrading our common libraries to .NET standard 2.1 is not an option: https://stackoverflow.com/questions/58070082/using-net-standard-2-1-with-uwp
which sadly means that even though I don't need notifications for UWP (yet), it means:
1) I can't use your plugin
2) Future UWP support for this plugin is not possible.

[2021-07-19 15:43] InquisitorJax commented on #179
never mind - I see that iOS notifications won't show when the app is running in the foreground.

[2021-07-19 15:43] #179 closed

[2021-07-19 20:00] #163 closed

[2021-07-20 04:44] thudugala commented on #130
added support to android in version 8.0.1

[2021-07-20 04:44] #130 closed

[2021-07-20 07:51] trystanwilcock opened #184 "Notifications not appearing on Android if the app is closed/terminated"
Please forgive me if it wasn't a feature in the first place, but when I schedule a notification and terminate the app (swipe the app away), the notification won't appear until the app is opened again. If the app is still active in the background, it will appear fine. Is there a way in which notifications will show even if the app is closed?

Package version v8.0.1

**Reproduce**
Schedule a notific

[2021-07-21 14:24] McFlemchSoda commented on #168
I'm having this issue as well, and I suspect it also has something to do with killing the app. It's a combination of a longer delay and killing the app in my case. Because when I schedule it for like 10 seconds and then kill the app, I still get the notification, but when I put it on something like 5 minutes, I don't receive any notification. Note I'm still using version 5.2. Was planning on upgra

[2021-07-21 14:40] McFlemchSoda commented on #184
Might also be related to #168 and vice versa. I'm having this issue as well when scheduling it for about 5 minutes later. Strange thing is, it does work for me if I schedule one 10 seconds later and quickly kill the app, then it still appears. But once I change it to 5 minutes later and kill the app, nothing appears.

[2021-07-21 15:20] MarcoSal opened #185 "NotificationTappedEventArgs and NotificationReceivedEventArgs not exist"
**Describe the bug**
i upgraded to version 8 but it tells me they NotificationTappedEventArgs and NotificationReceivedEventArgs don't exist ..

**To Reproduce**
event on app.xaml.cs

Visual Studio 2019 16.10.3
Target Framework: .NET Standard 2.0
Xamarin Forms: 5.0.0.2012

[2021-07-21 21:19] thudugala commented on #185
@MarcoSal Sorry documentation is fixed now, it's NotificationEventArgs, NotificationTappedEventArgs and NotificationReceivedEventArgs is renamed to NotificationEventArgs

[2021-07-21 21:19] #185 closed

[2021-07-21 23:58] thudugala commented on #184
@trystanwilcock can you try  version v8.0.2

[2021-07-22 11:17] McFlemchSoda commented on #184
I also just upgraded to v8.0.2 in my sample project, but still have the same results.
I scheduled a few notifications with a 5 minute interval. For the first two I killed the app after scheduling and waited for the two notifications to come. Nothing appears. I then opened the app and waited for the next 5 minute interval with the app running in the background. This notification did appear at the r

[2021-07-22 11:22] trystanwilcock commented on #184
I have upgraded to v8.0.2. To eliminate any possibility of the emulator not functioning correctly or attaching the debugger causing issues, I have been restarting my devices emulated Pixel 2 and Samsung S10 physical device) after build.

To test, I have been scheduling notifications between 5 and 15 minutes into the future. For the most part, notifications seem to appear at the right time. There h

[2021-07-22 17:11] MarcoSal opened #186 "not install on android"
**Describe the bug**
8.0.2 it does not install on android. ios and forms ok, android refuses installation.
the only version that works correctly, for me, is 5.2.
I also created a new APP from scratch ...

Gravità	Codice	Descrizione	Progetto	File	Riga	Stato eliminazione
Errore	NU1107	È stato rilevato un conflitto di versioni per Xamarin.AndroidX.Lifecycle.LiveData. Per risolvere questo problema, in

[2021-07-22 18:58] MarcoSal commented on #186
after cleaning nuget packages, version 8.0.1 works.
8.0.2 gives the above error ...

[2021-07-22 20:39] thudugala commented on #186
@MarcoSal Xamarin.Forms issue

Please look at

https://github.com/xamarin/Xamarin.Forms/issues/14425
and
https://github.com/xamarin/Xamarin.Forms/issues/14417

[2021-07-22 20:39] #186 closed

[2021-07-23 05:26] thudugala commented on #184
@trystanwilcock and @McFlemchSoda Can you try version 9.0.0-preview01

[2021-07-23 05:26] thudugala commented on #168
@khaledbakeer and @McFlemchSoda Can you try version 9.0.0-preview01

[2021-07-26 10:52] McFlemchSoda commented on #184
@thudugala Hiya, I've upgraded to 9.0.0-preview01 and repeated the same tests, interval of 5 minutes on Samsung a50 and Huawei p30 devices. Here are my outcomes.

It does seem to work better than the 8.xx version. On the Samsung A50 I am getting the notifications every 5 minutes, whether the app in backgrounded or killed, so that's great! The only issue is that on my Huawei P30 I'm not getting all

[2021-07-26 14:19] mos379 commented on #184
@McFlemchSoda did you disable the battery management for your app on the huawei?
I was having always issues with that until I changed the default setting.

[2021-07-26 15:05] McFlemchSoda commented on #184
@thudugala Looking at my battery options, everything is turned off. No power saving modes on.

[2021-07-27 19:38] thudugala commented on #184
@McFlemchSoda can you please attach the android native sample project here?

[2021-07-28 10:46] McFlemchSoda commented on #184
@thudugala The native project is actually my own project, but since I just used the code from the Xamarin samples I guess I could make it a sample project as well. When I have some time I'll make a sample project, and will test that sample project again as well. To be continued.

[2021-07-28 10:52] trystanwilcock commented on #184
Further testing on my Samsung s10 using the latest preview: I scheduled a notification around the same time as my alarm in the morning. Swiped the application away long before bed and it appeared on time as scheduled. Will continue to test. Thanks for your efforts @thudugala and @McFlemchSoda

[2021-08-03 10:06] Zalut commented on #44
Hi,
i have the same problem as the autor, my NotificationCenter.Current.Show(notification) don't work for iOS, i've linked the NuGet package to the both projet iOS and Android

[2021-08-03 10:15] thudugala commented on #44
@Zalut please attach a sample project.

[2021-08-03 12:06] Zalut commented on #44
@thudugala i can't send you my project, but i can answer your questions. I've installed the v5.2.0 of the package, it work with android, but not with iOS. I can't take new version of the package because my project target version for android is 10.0...

[2021-08-03 20:51] thudugala commented on #44
@Zalut Sorry, to make my self clear, I'm asking you to create a sample project that recreate this issue and upload it here as a zip file.

[2021-08-03 21:26] #155 closed

[2021-08-04 08:11] Zalut commented on #44
Hi, unfortunately I cannot recreate a similar project with the 2019 version of Visual Studio. The project type is PCL, the project was originally made for Android, I added an iOS project to the solution recently, and my problem with NotificationCenter.Current occurred at that time.

[2021-08-04 17:57] AldairOrta opened #191 "Expiration date"
It would be nice to have an "Expiration date" where in a certain given date the notification automatically stops or cancel itself through notification ID.

For example:

- Notification starts on 12/12/21 repeats "Daily"
- We add "Expiration date" 12/25/21
- So when it’s the 12/25/21 the notification stops or cancel automatically.
- In 12/26/21 notification will not longer appear and so on

[2021-08-05 14:45] trystanwilcock opened #192 "Duplicate notifications"
I appear to be getting more notifications than I scheduled.

**To Reproduce**
Steps to reproduce the behaviour:
1. Schedule 2 notifications (i.e. 1.30pm and 1.35pm)
2. Cancel all notifications
3. Reschedule 2 notifications for different times (1.45pm and 1.50pm)

**Expected behavior**
Two notifications; one at 1.45pm and one at 1.50pm.

**Actual behaviour**
Notifications for the first 2, notificat

[2021-08-05 16:07] gaurakshay commented on #168
FWIW, I have tested version `9.0.0-preview01` for some time now. Here are my findings:

Device -> Pixel 3 XL (Physical Device)

I setup notifications to go off at different time intervals:
- 1 min
- 5 mins
- 30 mins
- 60 mins
- 5 hrs
- 24 hrs (1 day)
- 48 hrs (2 days)
- 72 hrs (3 days)
- 96 hrs (4 days)
- 120 hrs (5 days)

_Note:_ I didn't setup repeating alarms, just individual alams. I didn't ki

[2021-08-05 21:17] thudugala commented on #168
@gaurakshay thank you for the test results.

[2021-08-05 21:22] thudugala commented on #192
@trystanwilcock can you please check what happened if you cancel one by one rather than cancel all?

[2021-08-06 10:06] Michael-Burschel opened #193 "Blazor Mobile Bindings"
Hi,

I tried the notifications in my Xamarin App and it works fine.
Recently I started to work on some Blazor Projects, in specific I tried the notifications for a Blazor Mobile Bindings App. I can configure it but I cannot get it working somehow. No notification is showing up at all.
Is it supposed to be working or is it not working at all for Blazor?

[2021-08-06 11:53] trystanwilcock commented on #192
It seems to be working on Android, however no notifications are appearing in iOS. I have added the following line to the FinishedLaunching method in AppDelegate in the iOS project but they are still not appearing:

Plugin.LocalNotification.NotificationCenter.AskPermission();

[2021-08-06 19:27] thudugala commented on #193
@Michael-Burschel can attach a sample project?

[2021-08-08 21:55] LeoJHarris commented on #132
@thudugala can you shed any light on when this might be performed?

[2021-08-08 22:33] thudugala commented on #132
@LeoJHarris before getting started, I'm still waiting on version 9 to finalize and also need to write unite test.

[2021-08-08 22:34] #132 closed

[2021-08-08 22:37] thudugala commented on #191
@AldairOrta have you tried NotifyAutoCancelTime ? thsi was added after version 8.0.2

[code]

[2021-08-09 00:39] thudugala commented on #192
@trystanwilcock have you tried changing iOSOptions ?

[2021-08-09 07:08] Michael-Burschel commented on #193
Thanks for your reply.
Surprisingly it is working now, but for ne specific reason.
I tried it without any Plugin --> https://www.youtube.com/watch?v=Lqhg9Lf8JP4
It worked perfectly and I tried your plugin again. Suddenly everything worked as expected without any changes. I tried it on multiple devices as well. There was some kind of magic involved to nag me! ;-)

I will close this because everythi

[2021-08-09 07:08] #193 closed

[2021-08-09 07:32] trystanwilcock commented on #192
Which iOS options are you referring to?

[2021-08-09 19:28] stesvis opened #195 "The name 'NotifyAt' does not exist in the current context"
**Describe the bug**
The solution does not build because it looks like `NotifyAt` does not exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Implement this code in Xamarin Forms (as per official example):
[code]

**Expected behavior**
Build successful.

**Additional context**
`Error	IDE1007	The name 'NotifyAt' does not exist in the current context.`

What am I missing?

[2021-08-10 08:58] L10Messi10 opened #196 "Repeats"
**Repeats is gone.
what are the other alternatives for that? It was very useful. Why remove it?

**bring back the Repeats
Please bring back the repeats option.

[2021-08-10 12:07] Underground1337 opened #197 "The plugin doesn't work on Android 6.0 & 7.0"
When I am trying to start the sample App in debug mode for Android 7.0 or 6.0 I am getting this error:

[code]
Starting it on Android 8.0 and above versions works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Get the sample project
2. Try to build the App for Android 7.0 or 6.0

**Platform:**
 - OS: Android
 - Version 6.0 & 7.0

**Smartphone:**
 - Device: Pixel 2 XL Emulator & Samsun

[2021-08-11 04:32] #191 closed

[2021-08-11 04:36] thudugala commented on #195
@stesvis Documentation fixed, it is available under ScheduleOptions

[code]

[2021-08-11 04:36] #195 closed

[2021-08-11 04:39] thudugala commented on #196
@L10Messi10 It is not removed it is under Schedule

var notification = new NotificationRequest
{
    Schedule =
    {
        RepeatType = NotificationRepeat.Daily
    }
};
await NotificationCenter.Current.Show(notification);

[2021-08-11 04:39] #196 closed

[2021-08-11 06:05] thudugala commented on #197
@Underground1337 what do you mean by "Try to build the App for Android 7.0 or 6.0".

[2021-08-11 06:45] Underground1337 commented on #197
@thudugala Sorry, I meant when I try to launch the app on an Android 6.0 or 7.0 device, I get the error message above.

[2021-08-16 22:51] thudugala commented on #192
@trystanwilcock Can you try new version 9.0.0-preview02, this should fix cancel all.

iOS options
[code]

[2021-08-19 18:48] jonthomaswoods opened #199 "Can't get the NotificationImage to display"
When creating the notification I would like to have the app icon shown. So I created a NotificationImage with an image that is 3.46KB. When the notification fires there is just a grey square shown.  I have yet to test on iOS, but doesn't work on Android emulator or actual device. Appreciate the help!

[code]

![imagesize](https://user-images.githubusercontent.com/71519205/130126018-4e545623-e39b-4

[2021-08-20 06:44] thudugala commented on #197
Hi, I am trying to use the last version of this plugin, but I get this error (only with android 7 or lower):

"ADB0010: Mono.AndroidTools.InstallFailedException: Unexpected install output: Failure [INSTALL_PARSE_FAILED_MANIFEST_MALFORMED: Failed parse during installPackageLI: /data/app/vmdl249737558.tmp/base.apk (at Binary XML file line #37): <receiver> does not have valid android:name]"
and, anal

[2021-08-22 02:26] thudugala commented on #197
@Underground1337 Can please you try version 9.0.0-preview03 ?

[2021-08-22 02:28] thudugala commented on #199
@jonthomaswoods Can please you try version 9.0.0-preview03 ?

[2021-08-22 02:30] thudugala commented on #199
@jonthomaswoods are you trying to set Notification icon or Notification Image?

https://developer.android.com/training/notify-user/expanded

[2021-08-22 15:16] AlessandroDF commented on #197
Ok, with the version 9.0.0-preview03 the plugin works even on Android 6 & 7.

However, with this new version there are some problems scheduling notifications: if I add the "Schedule" parameter (adding, for example, NotifyTime = DateTime.Now.AddSeconds(30)) I get this message: "**NotifyTime is earlier than DateTime.Now, notification ignored**"

[2021-08-24 15:54] jonthomaswoods commented on #199
Version 9.0.0-preview03 did not fix  the issue.

I am using a NoticationImage and when creating the NotificationRequest I set the Image equal to the NotificationImage I created.

var notification = new NotificationRequest
{
     NotificationId = notGUID,
    Title = "Notification",
    Description = "You recieved a notification",
    **Image = imagenotifcation,**
    Schedule = { NotifyTime = Fini

[2021-08-30 12:47] azrinsani commented on #184
Hi, this is still not working. I have tried even a fast 10 seconds later scheduled notification, which I close the app after 3 seconds. The Notifications never come up

[2021-08-30 13:03] McFlemchSoda commented on #184
@thudugala Hey, sorry, I haven't had time to make the native android project or test the new preview. Hope you found some time to use the Xamarin Samples of native android local notifications to see differences. We now use the native implementation for local notifications because we had to fix these issues a bit faster. We also only use it to schedule them, nothing fancy with removing them or repe

[2021-08-30 13:54] Underground1337 commented on #197
I've tested Version 9.0.0-preview04 on Android 6 to 11 and had no problem with my Application.
Thanks for your effort : )

[2021-08-30 19:59] thudugala commented on #168
@gaurakshay after updating to preview04, did you uninstall the preview01 app from the device before deploying preview04?

[2021-08-30 21:13] gaurakshay commented on #168
@thudugala Samsung S20 FE was a new device. Don't remember if I uninstalled the app from Google Pixel 3 XL.

[2021-09-02 17:01] gaurakshay opened #201 "Unexpected notification behavior on Samsung device"
**Describe the bug**
The notifications don't appear in the notification area unless you open the app and bring it to the foreground.

**To Reproduce**
Use the library just as described in the wiki. I have attached the sample repro
[Notif.zip](https://github.com/thudugala/Plugin.LocalNotification/files/7100487/Notif.zip)

**Expected behavior**
The notification should appear in the notification bar

[2021-09-06 01:19] #197 closed

[2021-09-06 01:47] thudugala commented on #168
@gaurakshay I was able get notification popup, after updating to preview04

![image](https://user-images.githubusercontent.com/4112014/132149233-1f2a0d18-bd11-4fb5-a13d-33aa6909b245.png)

[2021-09-06 01:48] thudugala commented on #201
@gaurakshay can you use preview 04

[2021-09-06 02:59] gaurakshay commented on #168
I'll give it a try.

[2021-09-06 03:14] gaurakshay commented on #201
By uninstalling preview 01 you mean uninstall the app that used preview 01 and then re-install an app using preview 04 right?

[2021-09-06 03:16] thudugala commented on #201
Yes, there is a braking change in preview 04

[2021-09-08 07:46] archergod opened #202 "iOS, System.Text.Json.JsonSerializer Exception coming."
Getting following Error (But it is not always, but 1 out of 2 attempt to debug my application give this error):

`[0:] System.TypeInitializationException: The type initializer for 'System.Text.Json.JsonSerializer' threw an exception. ---> System.MissingMethodException: Method not found: int System.Text.Encodings.Web.TextEncoder.FindFirstCharacterToEncodeUtf8(System.ReadOnlySpan`1<byte>)
  at Syste

[2021-09-08 08:24] thudugala commented on #202
Can you try adding this to the iOS App project:

<ItemGroup>
<PackageReference Include="System.Memory" Version="4.5.4">
<IncludeAssets>none</IncludeAssets>
</PackageReference>
<PackageReference Include="System.Buffers" Version="4.5.1">
<IncludeAssets>none</IncludeAssets>
</PackageReference>
</ItemGroup>

[2021-09-08 08:25] archergod commented on #202
I am not sure where exactly I need to add it ? I am using Nuget package of yours.

[2021-09-08 09:33] thudugala commented on #202
Can you please attach a sample project?

[2021-09-08 09:35] archergod commented on #202
I don't have sample project yet. will see if I can create one later.

[2021-09-08 09:47] Fra9944 opened #203 "Android 7 - Unable to deploy application - install APK with Plugin.LocalNotification"
Hi!
When I compile with android 8.0+ it's working everything. But if I switch to Android 7.0:
With Plugin.LocalNotification installed there is the error: INSTALL_PARSE_FAILED_MANIFEST_MALFORMED.

You can reproduce it by creating a new xamarin Forms project, installing your nuget and try to debug it with an Android 7 device.

Error code is:
ADB0010: Mono.AndroidTools.InstallFailedException: Unexpec

[2021-09-08 09:50] thudugala commented on #203
Can you try version 9 preview 4?

[2021-09-08 10:06] Fra9944 commented on #203
Yes, no deploy errors now.
I think is solved in 9.0.0 preview 4.

Finally!

Thank you @thudugala

[2021-09-08 10:08] #203 closed

[2021-09-09 11:05] archergod commented on #202
I didn't get chance to create sample project. But I did some more research and want to share, that some people suggest that .NETStandard2.0 might be a cause of this. Hiowever it is not true for me, as I didn't see .NETStandard2.0 in my project. Further more Some people blame it on Newtonsoft Json, which is there in my project,

Second I try to use System.Memory 2.5.0 as one user say that it is onl

[2021-09-09 16:30] mos379 opened #204 "Android Notification icon is not shown in Simulator"
**Describe the bug**
When testing the latest Preview 9v4 I changed the notification Icon to AndroidIcon as described in the wiki.
Only to find out that it is presented as white square in the simulator.
After ignoring it and actually deploying to a real device I figured out that it is only a problem in the emulator.

**To Reproduce**
Run android simulator

**Expected behavior**
expected to have the

[2021-09-10 11:21] thudugala commented on #204
If Icon not displaying in notification, white square shown instead
Please follow Google's Design Guidelines https://material.io/design/platform-guidance/android-notifications.html#behavior

[2021-09-10 18:23] jeremybirdwell80 commented on #202
I'm am running into the same issue. I was able to strip down our app and get a sample together. I tried creating a new project to recreate it, but for some reason it didn't misbehave.
[DemoApp.zip](https://github.com/thudugala/Plugin.LocalNotification/files/7145658/DemoApp.zip)

[2021-09-11 13:27] mos379 commented on #204
I did read through this but can'T dfind a reason why it is not presented in the simulator but on the real device

[2021-09-16 16:13] AlanFloyd opened #207 "Problem to install de Plugin"
Hello,

I am trying to install the plugin in Visual Studio for Mac Version 8.10.9 (build 3) and getting the follwing error:

Version conflict detected for Xamarin.AndroidX.Lifecycle.LiveData. Install/reference Xamarin.AndroidX.Lifecycle.LiveData 2.3.1 directly to project avoidfoodwaste.Android to resolve this issue.
 avoidfoodwaste.Android -> Plugin.LocalNotification 8.0.2 -> Xamarin.AndroidX.Work

[2021-09-16 20:59] mos379 commented on #207
Says it right in your message
Install/reference Xamarin.AndroidX.Lifecycle.LiveData 2.3.1 directly to project

[2021-09-17 06:52] thudugala commented on #207
@mos379 Thank you

@AlanFloyd Please use version 9.0.0

[2021-09-17 06:52] #207 closed

[2021-09-17 06:53] thudugala commented on #168
released version 9.0.0

[2021-09-17 06:53] #168 closed

[2021-09-17 06:53] thudugala commented on #201
@gaurakshay Version 9.0.0 released

[2021-09-17 06:54] thudugala commented on #204
@mos379 Can you please attach a sample project.

[2021-09-17 06:55] thudugala commented on #192
@thudugala please use Version 9.0.0

[2021-09-17 06:56] thudugala commented on #184
Version 9 released, if you have preview version app installed. Then please uninstall it first.

[2021-09-17 06:56] #184 closed

[2021-09-17 19:27] gaurakshay commented on #201
So I am not sure what changed between preview 1 and preview 4 but if I install the app on my phone in `Release` configuration, I have to make sure that the linker option is set to  `None` instead of `Link SDK assemblies only`. If the linker is set to `Link SDK assemblies only` I don't receive any notifications. Once I figured this out, now I think I will take version 9 that was just released for a

[2021-09-27 01:33] L10Messi10 opened #210 "Notification doesn't show when I installed mobile anti-virus "Avast Mobile Security""
**Describe the bug**
When testing out with my physical device without the anti-virus, the notification was fine, it shows, but after installing the anti-virus it doesn't show anymore, and even after uninstalling it the notification just doesn't seem to get triggered anymore

**Platform (please complete the following information):**
 - OS: Android
 - Version 8.1.0

**Additional context**
I think it

[2021-10-04 13:14] archergod commented on #184
Notification has stop working for me since I update to Version 9.

[2021-10-04 13:20] MadSkilzGP commented on #184
Agreed.
For me the only one that has worked is version 9.0.0-preview02 … prev 1, 3, 4 and now ver 9 doesn’t.

[2021-10-05 10:04] archergod opened #213 "Notification not working"
Notification on application stop working. They were working before 8.0.2, but then I realise that they are not setting becuase following error is coming:

`The type initializer for 'System.Text.Json.JsonSerializer' threw an exception.`

I have latest version of Xamarin Form, along with Latest version of Xamarin.Essential and Toolkit. Seems some conflict might be causing this?

[2021-10-05 10:08] archergod commented on #202
https://docs.microsoft.com/en-us/dotnet/api/system.text.json?view=net-5.0&viewFallbackFrom=netframework-4.8  IT seems you are using System.Text.JSON in your code. which is not supported by older version on .NET framework. hence it is causing issues.

[2021-10-05 12:05] archergod commented on #213
Close as I forget I have same issue open before.

[2021-10-05 12:05] #213 closed

[2021-10-05 12:06] archergod commented on #202
When I include the project directly (not as nuget package) it works. Also some research shows that error might be coming when JsonSerialization fails (that is why I add project directly) but I cannot reproduce it.

However I still don't get notification.

[2021-10-19 02:01] #210 closed

[2021-10-19 02:37] L10Messi10 commented on #210
I'm closing this since the author is not responding regarding this issue.

[2021-10-19 03:07] thudugala commented on #210
@L10Messi10 please attach a sample project and please put all the information you can find related to your device environment

[2021-10-20 14:28] tranb3r opened #214 "Android 12 - INSTALL_PARSE_FAILED_MANIFEST_MALFORMED"
The plugin is not working on app targeting Android 12.
[code]

The BootReceiver broadcast receiver is missing the android:exported flag.
The other broadcast receivers already have the flag.

Could you please fix the BootReceiver and publish a new version of the nuget ?
Thanks

[2021-10-21 00:29] tranb3r commented on #214
I'm using visual studio 2022 rc2.

[2021-10-25 08:10] feduke-nukem opened #215 "Notification actions"
Are there any opportunity to handle notification actions within this plugin?

[2021-10-25 08:27] #215 closed, assigned to nobody

[2021-10-25 09:43] feduke-nukem opened #216 "Notification appearing iOS 12.4.9"
Describe the bug
I am implementing foreground display of Firebase notifications. Using latest NuGet version with all stuff from description for iOS, but no local notification is appearing.

Steps to reproduce the behavior:
1. Get Firebase Push Notification Plugin for Xamarin
2. Implement local notification showing inside CrossFirebasePushNotification.Current.OnNotificationReceived
3. Nothing happe

[2021-10-25 22:39] #214 closed, assigned to thudugala

[2021-10-28 18:04] #216 closed, assigned to thudugala, masonyc

[2021-10-29 20:19] gaurakshay commented on #201
After testing with `v9.1.0-preview01`, this issue persists on the Samsung Galaxy S20 FE.

[2021-10-29 20:22] gaurakshay commented on #201
How can I help in diagnosing this issue? Please let me know what information you require and I'll do my best to get it to you.

[2021-10-29 21:04] thudugala commented on #201
@gaurakshay does it work if you set linker option to None instead of Link SDK assemblies only?

[2021-10-29 21:54] gaurakshay commented on #201
Yes, it happens even if the linker is set to None.

[2021-10-30 12:22] tranb3r opened #219 "Let the client decide what to do when an exception occurs"
Sometimes, a notification fails to be shown in my app, and I don't know the details of what is happening, because this library is catching exceptions and only returning a boolean.
I know there is a log when an exception is catched, but I don't want to read the device log in my app.
I think it would be better to let the client decide what to do when an exception occurs. The client can either log it

[2021-10-30 20:33] thudugala commented on #219
@tranb3r yes will start working on it

[2021-10-31 01:29] thudugala opened #220 "On my Google Pixel 3XL (updated to Android 12), when I try to schedule a notification using v9.1.0-preview01, I get the following message:"
On my Google Pixel 3XL (updated to Android 12), when I try to schedule a notification using v9.1.0-preview01, I get the following message:

[code]

I don't see a notification after I schedule it. I uninstalled my app before trying to deploy the app through visual studio again.

_Originally posted by @gaurakshay in https://github.com/thudugala/Plugin.LocalNotification/discussions/217#discussioncomm

[2021-10-31 01:40] thudugala commented on #220
@gaurakshay Try 9.1.0-preview02

[2021-10-31 01:42] thudugala commented on #219
@tranb3r Try 9.1.0-preview02

[code]

[2021-10-31 01:43] thudugala commented on #201
@gaurakshay Try 9.1.0-preview02

[2021-10-31 08:18] tranb3r commented on #219
Why is it in NotificationCenter instead of INotificationService ?

[2021-10-31 08:34] tranb3r commented on #220
I'm also having this error. With 9.1.0-preview02.
Here is the stacktrace.

[code]

[2021-10-31 09:11] thudugala commented on #219
@tranb3r some of the functionality like  CreateNotificationChannel is at NotificationCenter level.

[2021-10-31 09:14] thudugala commented on #220
@tranb3r and @gaurakshay can you try changing PendingIntentFlags.CancelCurrent to see what value works for you?

in
Source/Plugin.LocalNotification/Platform/Droid/NotificationServiceImpl.cs
[code]

Please direct reference the project

[2021-10-31 09:14] tranb3r commented on #219
Ok. It's fine. Thank you!

[2021-10-31 11:51] tranb3r commented on #220
Adding PendingIntentFlags.Immutable seems to work.

[code]

[2021-10-31 12:35] mphill opened #221 "Location based notifications"
**Is your feature request related to a problem? Please describe.**
As a mobile developer I'd like to have location based notifications, for instance a reminder when I arrive at work or home.

**Describe the solution you'd like**
I would like to create a PR to add this.  iOS supports this out of the code, and Android supports this as well with geofencing.  I would create a new method `WithLocation`

[2021-10-31 18:01] mos379 commented on #221
@mphill sounds like a cool idea, but couldn't your app automatically trigger a notification if you are already surveilling the location?

[2021-10-31 18:16] mphill commented on #221
@mos379 If the app is terminated and/or backgrounded this is not really possible to do practically speaking. This feature is offered by the OS so there is no need to constantly poll the location or force some background mode to keep checking.

This morning I added support for iOS and updated the sample project. I was able to have it trigger when I left my house and returned.  It’s just a different

[2021-10-31 18:25] thudugala commented on #221
@mphill  If no one has strong objection. I'm OK.

[2021-10-31 18:28] mos379 commented on #221
I like it a lot!

On Sun, 31 Oct 2021, 19:25 Elvin (Tharindu) Thudugala <
***@***.***> wrote:

[2021-11-01 08:17] archergod commented on #146
I just notice in `Plugin.LocalNotification/Sample/NuGet/LocalNotification.Sample/App.xaml.cs ` the `OnResume` and `OnSleep` function are rewritten (i.e. overridden). When you override these function you need to call `base.OnResume()` and `base.OnSleep()` to maintain the state of application respectively, (or write your own logic) if you don't do then application did the above behaviour. I solve it

[2021-11-01 09:25] tranb3r commented on #146
@archergod
I've tested your fix proposal, both on the sample app and on my app. It doesn't work.

Besides, base.OnSleep and base.OnResume in Xamarin.Forms.Application are empty, so it's not suprising this fix proposal is not working.
[code]

[2021-11-01 13:18] archergod commented on #146
conceptually if function get compiled in final version it will overwrite the previous version. so even empty function will overwrite previous method. If you don't need those method just remove them (as per guide) otherwise even empty function need call.

I am not at desk for couple of days to test myself, but that is how I fixed it. it is not this plugin issue for sure. It is `the flow of xamarin`

[2021-11-01 13:53] tranb3r commented on #146
Sorry if I wasn't clear.
The code with empty methods is Xamarin.Forms, not my code. So basically, you're calling empty methods when you add base.OnSleep() and base.OnResume().
Or maybe I'm missing something...

[2021-11-01 22:34] tranb3r commented on #146
I've already reported here that I've tested calling base.OnSleep and base.OnResume, both and the sample and on my own app.
It doesn't work. Which is expected since base methods are not doing anything.

[2021-11-01 23:07] thudugala commented on #220
@tranb3r try v9.1.0-preview03

[2021-11-01 23:08] #219 closed

[2021-11-01 23:11] thudugala commented on #204
@mos379 and @skelt can you please attach a sample project ?

[2021-11-02 04:51] archergod commented on #146
I am not sure why it didn't work for you. I see the sample app are old and using older v8 code in `Nuget` Folder. But to help you further, I have Xamarin Essential in my app and found this code that looks significant to issue

![image](https://user-images.githubusercontent.com/4686220/139788348-11a405b8-5895-4010-9adc-3c3c3ac73dd8.png)
(savedInstanceState is important in above picture. but I recom

[2021-11-02 05:17] thudugala opened #222 "Alert box not showing on android"
### Discussed in https://github.com/thudugala/Plugin.LocalNotification/discussions/218

<div type='discussions-op-text'>

<sup>Originally posted by **FasihOMS** October 29, 2021</sup>
Hi,
First of all thanks for such a great plugin.
I have used the plugin for android. It is showing notification in system tray but alert is not showing when it takes to the application upon tap. In the attached video

[2021-11-02 05:18] thudugala commented on #222
@FasihOMS I cannot see any video attachment, can you help ?

[2021-11-02 07:53] tranb3r commented on #146
Fixing the sample app is exactly what this topic is about!

[2021-11-02 08:44] tranb3r commented on #220
@thudugala
LGTM. No more error on my test.
Thank you !

[2021-11-02 19:47] #220 closed

[2021-11-02 20:07] Necrolis opened #223 "Background/Data-Only Recurring Notifications"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to schedule recurring notifications that can be customized before being displayed to the user. Currently recurring scheduled notifications must have a fixed title etc. when they are scheduled, which means one cannot customize them based on the time of day or day of the week they are to be shown.

eg: if you sche

[2021-11-02 20:12] thudugala commented on #146
FYI

https://github.com/xamarin/Xamarin.Forms/blob/caab66bcf9614aca0c0805d560a34e176d196e17/Xamarin.Forms.Platform.Android/FormsApplicationActivity.cs#L270

@tranb3r

[2021-11-02 20:29] tranb3r commented on #146
@thudugala So what? Please explain your findings...

[2021-11-03 00:38] thudugala commented on #223
@Necrolis I was thing give access to notification before it is shown. Can you please look at

[code]
Can you please look at the latest code ?

[2021-11-03 13:27] Necrolis commented on #223
@thudugala Looks like it should work well, however having the ability to suppress the notification is also rather useful .

Should be trivial to add a check on the return value of the `NotificationReceiving` event and bail out if it returns null. This should mean that schedules aren't cancelled when the notification is suppressed either. However I dunno how intuitive that is in terms of usability.

[2021-11-03 17:45] thudugala commented on #223
@Necrolis can you make the suggested change in your PR?

[2021-11-03 18:40] Necrolis commented on #223
@thudugala I'll update it in a few hours when I get off work :)

[2021-11-03 19:29] gaurakshay commented on #220
With 9.1.0-preview03 I am getting exceptions (fresh deployment of the app):
[code]

Going to try and use source code to build and deploy the app.

[2021-11-03 19:55] gaurakshay commented on #220
Using the source code directly with the `PendingIntentFlags.Immutable` seems to work perfectly fine.

[2021-11-03 19:57] gaurakshay commented on #220
Stack trace when referencing source code directly without updating the flags (only `PendingIntentFlags.UpdateCurrent`):

[code]

[2021-11-04 01:48] Necrolis opened #225 "[Android] Invalid resource keys for Android.Color will cause notifications to silently fail"
**Describe the bug**
If the Resource name supplied for the `Color` field in the `NotificationRequest.Android` object cannot be found, the notification will silently fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify sample to use a non-existent key other than `colorPrimary`
2. Send notification
3. Wait indefinitely

**Expected behavior**
Either the notification needs to send and ig

[2021-11-04 02:00] Necrolis commented on #223
I've updated my PR.

Unfortunately iOS stifled my original plans, so I have had to make two separate callbacks for customization and filtering. I also changed the naming somewhat so that they are different from the events since they are singular callbacks rather than event chains.

[2021-11-05 19:12] mphill commented on #221
I have a branch out with the sample app updated.  There is still more work to do to fully integrate this will the existing notification repository - the geofence notifications are working though.  The geofencing will work even if the app is killed on Android.  Please provide any feedback on design.  I will keep working on cleaning up the code and improving integration.

[2021-11-08 20:18] michaelconnolly1 opened #226 "Android notification icon"
I am having some problems with the Android notification icon. I have tried icons of different sizes and not all of them appear (in some cases I just get a grey circle). All the ones I have tried have a Build Action of AndroidResource.

Does the icon have to be of a certain size and should it only be in the drawable folder (and not in the in the mipmap folders)?

[2021-11-08 20:20] thudugala commented on #226
If Icon not displaying in notification, white square shown instead

Please follow Google's Design Guidelines https://material.io/design/platform-guidance/android-notifications.html#behavior

[2021-11-09 10:03] AntAttakk commented on #201
We have a similar problem on v9.0.1, where local notifications are not shown on Android. It seems to be related to the linker, and the workaround for us right now is to tell the linker to skip this plugin:

`<AndroidLinkSkip>Plugin.LocalNotification;Plugin.LocalNotification.Platform.Droid</AndroidLinkSkip>`

[2021-11-22 11:22] thudugala commented on #171
Check v9.1.0

[2021-11-22 11:22] #171 closed

[2021-11-22 11:23] thudugala commented on #223
try version 9.1.0

[2021-11-22 11:24] #226 closed

[2021-11-24 04:44] thudugala commented on #225
@Necrolis you can now listen to error using event on after version 9.1.0

[code]

[2021-11-26 11:30] Balu2 opened #231 "Foreground notification on iOS with release 9.1.0 not working"
Previously I had version 9.0.1 of Plugin.Localnotifications installed.  With that version I was able to receive local notifications when the app was in foreground, background and not started on iOS.
After the installation of version 9.1.0 I only received notifio=cations when the app was in background or not started. When the app was in foreground no notifications at all.

Xamarin Forms:
Version 5.

[2021-11-28 04:23] thudugala commented on #231
@masonyc do you have access to a mac to test this issue ?

[2021-11-28 04:25] thudugala commented on #231
@Balu2 is
[code]

[2021-11-28 06:24] thudugala commented on #157
@maxchu92 try v9.1.0

[2021-11-28 06:24] #157 closed

[2021-11-28 06:32] thudugala commented on #221
@mphill are you ready to do a PR ? it look ok to me

[2021-11-28 07:20] thudugala commented on #225
@Necrolis error will be thrown to the app if shown immediately if scheduled subscribe to NotificationCenter.NotificationLog

[2021-11-28 07:20] #225 closed

[2021-11-28 07:23] thudugala commented on #204
![image](https://user-images.githubusercontent.com/4112014/143733570-efe8e221-21d1-4e11-bcd7-cbab8d86ae5f.png)

[2021-11-28 07:23] #204 closed

[2021-11-28 07:23] thudugala commented on #201
@AntAttakk Can you try v9.1.0

[2021-11-28 07:31] thudugala commented on #146
@tranb3r can you try changing PendingIntentFlags to fix that helps

[code]

[2021-11-28 09:15] Balu2 commented on #231
@thudugala

Do I have it set explicitly? In your comments was defined:

       //
        // Summary:
        //     Setting this flag will prevent iOS from displaying the default banner when a
        //     Notification is received in foreground Default is false
        public bool HideForegroundAlert { get; set; }

Therefor I thought it was not neccesary to define it.

[2021-11-28 12:54] tranb3r commented on #146
@thudugala Just tested it, same result.
By the way, isn't CancelCurrent the default value for PendingIntentFlags in AndroidOptions ?

[2021-11-28 17:36] thudugala commented on #146
@tranb3r yes. Try setting it to different values

[2021-11-29 08:47] tranb3r commented on #146
@thudugala Same behavior with all values.

[2021-11-29 09:22] gianox opened #232 ".NET MAUI support"
**Is your feature request related to a problem? Please describe.**
NotificationCenter.Current.Show does not work in .NET MAUI

**Describe the solution you'd like**
NotificationCenter.Current.Show works in .NET MAUI

**Additional context**
Only tested on Android

[2021-11-29 15:51] AntAttakk commented on #201
@thudugala I just tested. It works for us in v9.1.0 without the link skip workaround. Thanks!

[2021-12-17 16:09] tranb3r opened #236 "[Bug][9.1.0][iOS] NotificationService.Clear : System.InvalidCastException"
On iOS, there is an exception when calling `INotificationService.Clear(params int[] notificationIdList)`.
No exception on Android with the same call.
No exception on iOS when calling `INotificationService.Cancel(params int[] notificationIdList)`.

Here is the exception trace:
[code]

I think that the cast in the Clear method is incorrect:
https://github.com/thudugala/Plugin.LocalNotification/blob/

[2021-12-23 21:27] MrninOFF opened #239 "Notification stucked in PendingNotificationList when Device is in Doze mode"
**[Propably only Android related issue (Tested on S21, Android 12)]**
Hello,
I have tested many scenarios and I came to conclusion. If I set :
`Schedule = { NotifyTime = ..... }`
And the NotifyTime will be a time, when Device is in Doze mode. Than the notification get "stucked" at PendingNotificationList.
...
Solution would be, if Plugin.LocalNotification automatically check PendingNotificationLis

[2021-12-23 22:48] thudugala commented on #239
Hey @MrninOFF Can you please attach a sample project ?

[2021-12-23 23:09] thudugala commented on #236
@tranb3r  Fixed in version 9.1.1

[2021-12-23 23:09] #236 closed

[2021-12-23 23:11] MrninOFF commented on #239
@thudugala I am sorry, but I cant :/ . I use all the latest updates and I follow the Setup guide. No more, no less.
I can confirm, that NotifyTime works just fine if I use the phone (He dont get to Doze mode cycles). But when I leave my phone on desk for long hours.... Than the issue happen....
I already think of setting up a temporary job scheduler for checking a notificationList to repush them a

[2021-12-23 23:17] thudugala commented on #239
@MrninOFF Yes you do not need use Notification Request Builder

[2021-12-28 19:50] MrninOFF commented on #239
I created a simple job to check the PendingNotificationList and generate a new notification out of it. Without a NotifyTime.
Did u find out, where could be an issue ? @thudugala
Simple code:
[code]
I had test it for a 2 days. It looks good so far.

[2022-01-01 12:07] AndreasReitberger opened #240 "NRE on iOS while using 9.1.0"
**Describe the bug**
Since I've updated to 9.1.0, no local notifications are shown anymore. The output gives me following error.

[code]

So I tried to set `HideForegroundAlert = false` on iOS as described here: https://github.com/thudugala/Plugin.LocalNotification/issues/231

However I still get the NRE. This is how I call it.
Using the previous version (9.0.1), this is working.

[code]

**To Rep

[2022-01-03 10:17] tranb3r commented on #240
Same issue with 9.1.1

[2022-01-03 10:48] tranb3r commented on #240
The test here is not correct:
https://github.com/thudugala/Plugin.LocalNotification/blob/bbd3878a6e53b5328cd6bf0e2e8e8e037472588e/Source/Plugin.LocalNotification/Platform/iOS/LocalNotificationDelegate.cs#L89
[code]
Should probably be
[code]
@thudugala Could you please fix it in the next version ? Thank you !

[2022-01-03 22:32] thudugala commented on #240
@tranb3r Please try v9.1.2

[2022-01-03 22:45] thudugala commented on #232
@gianox will look in to this when Visual Studio 2022 has good direct support for .NET MAUI.

[2022-01-03 22:47] thudugala opened #242 "FLAG_IMMUTABLE error - Target API-31 S"
### Discussed in https://github.com/thudugala/Plugin.LocalNotification/discussions/235

<div type='discussions-op-text'>

<sup>Originally posted by **MrninOFF** December  6, 2021</sup>
Hello, I tried this code ... I end up on with that error:
[code]
_Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent.
Strongly consider

[2022-01-03 22:48] thudugala commented on #242
@MrninOFF try v9.1.2

[2022-01-03 22:48] #242 closed

[2022-01-03 22:50] thudugala commented on #222
closing due to no responce.

[2022-01-03 22:50] #222 closed

[2022-01-04 08:37] tranb3r commented on #240
It works.
Many thanks for your responsiveness!

[2022-01-04 09:25] #240 closed

[2022-01-04 19:47] thudugala commented on #231
@Balu2 can you please try v9.1.2

[2022-01-13 21:46] MrninOFF commented on #242
@thudugala I tried v9.1.2 but this command ended up in Catch(Exeption e){...} with same massage :(

[2022-01-20 14:28] Balu2 commented on #231
@thudugala, thanks for new version. I installed version 1.9.2 and everything works as expected.

[2022-01-20 17:19] Balu2 opened #245 "No local notification after reboot in Android"
I integrated the latest Plugin.LocalNotications version 9.1.2 in my Xamarin Forms iOS and - Android app. Everything works as expected when using the app.
When I reboot the device in iOS the local notifications will start again as expected. However in Android this is not the case.
I created a custom BroadcastReceiver, called NotificationsBootReceiver, in which I reset all defined local notification

[2022-01-20 19:16] c0ff33-b34n opened #246 "Notification not appearing on Android after the app is closed/terminated on app first run."
When I schedule a notification on an app's first run and terminate the app before the notification is due to appear the notification is not shown. If I leave the app open on first run after setting the notification, the notification is shown.

Setting a notification on further app runs and terminating the app works fine. But it is on first app run it does not work if the app is terminated. If I in

[2022-01-20 22:13] #231 closed

[2022-01-21 09:46] MrninOFF commented on #239
@thudugala Hello, I had found that Samsung has this issue for a long time:
https://eu.community.samsung.com/t5/galaxy-s9-series/delayed-notifications-issue-affecting-all-range-of-samsung/td-p/738070/page/5

[2022-01-22 16:44] sAMCodingProjects commented on #246
I am having the same problem, any updates?

[2022-01-24 09:52] #223 closed

[2022-01-25 20:20] michaelconnolly1 commented on #246
I have been using the plugin successfully for a couple of years but now I find that after I set up a local notification, say for tomorrow, and then close the app, the notification comes through. However, if I try the same thing again, no notifications come through. I have tried different versions of the plugin from version 4.1.4 upwards and get the same issue. This is only an issue when the app is

[2022-01-28 01:58] fr-memosoft opened #247 "Add an option to change the Alarm Type for Android"
**Is your feature request related to a problem? Please describe.**
Would like to know if it is possible to have an option to change the AlarmType? For example, AlarmType.RtcWakeup. Currently, the library is [using AlarmType.ElapsedRealtime](https://github.com/thudugala/Plugin.LocalNotification/blob/98ed26d135d46383c07e24dff1a7cca5978adebf/Source/Plugin.LocalNotification/Platform/Droid/Notification

[2022-01-28 15:53] rs-memosoft commented on #247
+1

[2022-01-29 06:12] jl-memosoft commented on #247
+1

[2022-01-30 05:37] thudugala commented on #246
@c0ff33-b34n Can you please attach a sample application

[2022-01-30 06:20] thudugala commented on #247
@fr-memosoft Please try version 9.1.3

[2022-01-30 06:30] thudugala commented on #192
@trystanwilcock please use Version 9.1.3

[2022-01-30 06:31] thudugala commented on #201
@gaurakshay Can you still recreate this issue with Version 9.1.3

[2022-01-30 20:05] gaurakshay commented on #201
@thudugala Thank you! I will give it a try!

[2022-01-31 02:50] fr-memosoft commented on #247
@thudugala Seems working fine. Thank you!

[2022-01-31 10:19] #247 closed

[2022-01-31 16:44] c0ff33-b34n commented on #246
Hi @thudugala I have resolved the issue with notifications not appearing on first run when the app is terminated. It seems that it was caused by being in debug mode / being connected to Visual Studio. If I disconnect the cable to my mobile as soon as the app is installed before setting a notification and terminating it, or if I install a compiled apk directly on a device the notifications still wo

[2022-02-02 02:09] thudugala commented on #246
@c0ff33-b34n Yes you are right only IsStillActiveForReSchedule get set back in, This maybe wrong.

Yes

Please do a PR to review suggested change.

Thank you for you testing results

[2022-02-03 14:31] c0ff33-b34n opened #251 "On Android, for repeating notifications, time interval added on every reboot pushing notification further into future."
**Describe the bug**
After rebooting the device repeating notifications have their notification interval added to the notify time, without first checking that the current notification time is in the future. This means that if the device is rebooted multiple times before the notification time is reached, the new notification time is pushed further and further into the future.

For example, if you t

[2022-02-03 15:06] c0ff33-b34n commented on #246
@thudugala I will close this current issue now, as I discovered it appears to be a curiosity of using Visual Studio / debugging rather than the plugin code, but one to be mindful of while debugging.

I will raise separate issues for the one-off notifications not coming through after re-boot and the possibility of receiving notifications that have passed during the time the device was off if they a

[2022-02-03 15:06] #246 closed

[2022-02-03 16:14] c0ff33-b34n opened #253 "Non-repeating notifications are not re-created after reboot on Android."
**Describe the bug**
Non-repeating notifications are not re-created after reboot on Android. So if you scheduled a one-off notification and reboot before that time arrives, the notification is never received.

**To Reproduce**
1. Create a notification with RepeatType = NotificationRepeat.No
2. Reboot the device before that notification is due to be received.
3. Notification is not received

**Expe

[2022-02-03 22:52] thudugala commented on #251
@c0ff33-b34n without changing

[code]
I was think we should change GetNextNotifyTime from `var newNotifyTime = Schedule.NotifyTime.Value.Add(repeatInterval.Value);` to `var newNotifyTime = Schedule.NotifyTime.Value;`

[code]

[2022-02-04 05:16] thudugala commented on #251
@c0ff33-b34n Can you please try version 9.2.0-preview01

[2022-02-04 05:16] thudugala commented on #253
@c0ff33-b34n Can you please try version 9.2.0-preview01

[2022-02-04 14:05] c0ff33-b34n commented on #253
Hi @thudugala Thanks for the quick changes.

I've done some testing and found a few issues with the changes which affect this and #251.

For non-repeating notifications, a previously scheduled notification is showed right away after reboot, whether it was set for some time in the future or is within the `AndroidAllowedDelay` in the past. (There is no check to see if the `NotifyTime` is in the futu

[2022-02-05 01:56] thudugala commented on #253
@c0ff33-b34n Can you please try version 9.2.0-preview02

[2022-02-05 01:56] thudugala commented on #251
@c0ff33-b34n Can you please try version 9.2.0-preview02

[2022-02-05 16:36] c0ff33-b34n commented on #253
Thanks @thudugala

I've done some testing and found a couple of things.
`AlarmType` and `AllowedDelay` were no longer settable when creating a new `NotificationRequest`.
So I had to set them after. (I'd been using RtcWakeup rather than Rtc, at least while I'm testing.)
`notification.Schedule.Android.AllowedDelay = TimeSpan.FromHours(1); `

I am setting the `AllowedDelay` to allow notifications to

[2022-02-06 00:57] thudugala commented on #253
@c0ff33-b34n Can you please try version 9.2.0-preview03

[2022-02-07 10:58] c0ff33-b34n commented on #253
Thank you @thudugala
I've tested multiple scenarios of rebooting the device and leaving it on using `TimeInterval` repeating notifications and Non-repeating notifications, and all seems to be working well now in 9.2.0-preview03. So I will close this issue and #251 which was interrelated.

[2022-02-07 10:58] #253 closed

[2022-02-07 11:08] c0ff33-b34n commented on #251
This is now working and the correct time interval is being added in 9.2.0-preview03.

[2022-02-07 11:08] #251 closed

[2022-02-08 03:11] thudugala commented on #245
@Balu2 Can you please try v9.2.0

[2022-02-08 03:14] thudugala commented on #201
@gaurakshay Can you please try v9.2.0

[2022-02-08 03:16] thudugala commented on #192
@trystanwilcock closing issue, due to no responce.

[2022-02-08 03:16] #192 closed

[2022-02-08 03:17] thudugala commented on #239
@MrninOFF Can you please try v9.2.0 to see if you still get the error.

[2022-02-08 09:17] Balu2 commented on #245
@thudugala it is working perfectly now. I also had the same problem that the recurring notifications were send later than planned after a reboot. With version 9.2.0 the notifications are sent on time.

[2022-02-08 09:35] #245 closed

[2022-02-08 20:25] MrninOFF commented on #239
@thudugala Updated ... Let me test it for a few days :) Thanks

[2022-02-09 12:44] restorepro opened #254 "Xamarin Android Crashes after Nuget update on 8 Feb 2022."
**Describe the bug**
Xamarin PCL Solution/Android Simulator crashes now after updating Nuget package on 8 Feb 2022. I will investigate further today but I just wanted to point out this issue that wasn't happening until I updated my Android project.  This nuget was implemented as per the readme file.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Android project in debug mode using t

[2022-02-09 23:40] restorepro commented on #254
Just opened the project to work on it and it showed more android nuget updates available. Updated them (one of which was for this nuget) and closed the project, deleted obj/bin folders. Restarted, cleaned, built, switched to another simulator and the error is no longer present..

[2022-02-09 23:40] #254 closed

[2022-02-11 20:31] #239 closed

[2022-02-17 16:25] AntAttakk opened #255 "Can't get notification response for push notifications on iOS"
We are using the LocalNotification plugin for local notifications in our app, and it works great! We are also using Firebase push notifications, and now we are implementing support for performing different actions in the app when the user taps different push notifications.

To achieve this, we have implemented `DidReceiveNotificationResponse()` in our `AppDelegate` and use data in `response.Notifi

[2022-02-17 16:29] PonyOny opened #256 "Badge count reset not working"
**Describe the bug**
The badge count is not resetting

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Notification that will set the badge
2. Open the app from background or if closed.

**Expected behavior**
App badge should reset when app is opened

**Platform (please complete the following information):**
 - OS: iOs
 - Version 15.2.1
**Smartphone (please complete the following inf

[2022-02-17 21:28] PonyOny opened #257 "Missing AskPermission & exceptions"
It seems that 'Plugin.LocalNotification.NotificationCenter.AskPermission();'  is missing, I would like to ask for permission when user activates a toggle in the App, it actually works as mentioned when I create a Notification, but it would be nice to also be able to ask for the permission as described in documentation, I also can't find how to get the user permission status in order to be able to

[2022-02-18 16:10] gaurakshay commented on #201
My observations:

## Setup

### Packages

Xamarin.Forms: 5.0.0.2337
Xamarin.Essentials: 1.7.1
Plugin.LocalNotifications: 9.2.0

### Device

Samsung S20 FE (SM-G781U1/DS)

### Android Version

Android 12 (One UI 4.0)

### Notifications Scheduled:
[code]
Where `CreateNotification` is defined as:
[code]

I found that the notifications scheduled pretty soon after the app was deployed and the button wa

[2022-02-19 09:17] thudugala commented on #257
@PonyOny can you please attach a sample project?

[2022-02-19 10:05] thudugala commented on #255
@AntAttakk Can you Please attach a sample project?

[2022-02-19 10:38] thudugala commented on #255
@AntAttakk I suspect the notification you request does not deserialize to type `Plugin.LocalNotification.NotificationRequest` that could be why `Request` member of the `NotificationEventArgs` parameter is null

[2022-02-19 12:29] thudugala commented on #201
@gaurakshay are you testing on real device or on emulator?

[2022-02-19 13:46] gaurakshay commented on #201
I am testing on a real device.

[2022-02-19 13:48] gaurakshay commented on #201
Could the notifications be effected if the app was was killed by the system? How would it be effected?

[2022-02-22 09:53] jl-memosoft commented on #257
Hello, my workaround for this is that if the user declines the first notification permission and may want to re-activate, then I will redirect the user to the application's settings using Xamarin Essentials' AppInfo.ShowSettingsUI() method. Hope this helps.

[2022-02-22 10:01] PonyOny commented on #257
Hi, thanks, I have already a work around.. but I was expecting that the plugin could manage this scenario, I have created a custom service to manage the permissions and the current status of the Notifications access so i can know if he has granted permission or if he declined to show as you mentioned a custom dialog that will take to the app settings.

[code]

IOS:
[code]

[2022-02-23 09:11] AntAttakk commented on #255
@thudugala, thanks for your reply. I will see if I can create a sample project. I am not sure if I can share the project on the Firebase console, but I will have a look.

But in the meantime, do you know if there is any way to configure the plugin so it allows the call to `DidReceiveNotificationResponse()` to get through to our code?

[2022-02-23 09:14] thudugala commented on #255
@AntAttakk I have done some changes. but it's not published. Can you try referencing the project directly?

[2022-02-23 17:17] gaurakshay commented on #201
@thudugala I also added the "com.android.alarm.permission.SET_ALARM" permission in the manifest but that didn't change the outcome. Notification that was supposed to show the next morning didn't show on the physical Samsung S20 FE.

[2022-02-24 15:23] AntAttakk commented on #255
@thudugala, I have now tested with your latest changes in the repo. The change I can see is that now, the `NotificationTapped` event is not fired anymore when I tap the push notification. But our implementation of `DidReceiveNotificationResponse()` is still not called. So our app still can't handle the tap event and identify which notification was tapped.

I will continue to investigate now that I

[2022-02-25 13:39] AntAttakk commented on #255
I have managed to implement a workaround that allows my implementation of `DidReceiveNotificationResponse()` to get called and still use the LocalNotification plugin as intended. Maybe it can be useful for someone else that uses both push and local notifications.

**Step 1:** Initialize the LocalNotification plugin before assigning my own UNUserNotificationCenter delegate.
**Step 2:** Save a refer

[2022-02-25 21:11] gaurakshay commented on #201
@thudugala so I have some positive news to share. In Samsung One UI 4.0 (Android 12) I was able to set the notifications reliably by going into the app details page and setting the battery to "Unrestricted" mode.
<img src="https://user-images.githubusercontent.com/17280428/155803091-e10758a4-94f9-4073-828f-0ae3396f4bd2.jpg" width="200">
<img src="https://user-images.githubusercontent.com/17280428/

[2022-02-25 21:11] #201 closed

[2022-03-15 21:35] mphill commented on #221
I will continue work and get  PR out soon. Android still needed work.

[2022-03-17 05:29] thudugala commented on #257
@PonyOny can you try 9.2.1-preview01

[2022-03-17 05:29] thudugala commented on #256
@PonyOny  can you try 9.2.1-preview01

[2022-03-17 05:32] thudugala commented on #255
@AntAttakk can you try 9.2.1-preview01

please extend UserNotificationCenterDelegate and create your own cutom UserNotificationCenterDelegate . then set it using SetCustomUserNotificationCenterDelegate
[code]

[2022-03-18 11:27] AntAttakk commented on #255
@thudugala This seems like a good solution! I have tested it now, and it works in the sense that I can now get my push notifications if I call `SetCustomUserNotificationCenterDelegate()`. However, with **9.2.1-preview01** I don't get any local notifications anymore :/. It does not seem to matter if I call `SetCustomUserNotificationCenterDelegate()` or not - no local notifcations.

[2022-03-24 15:09] dg2k opened #265 "Does the NotificationTapped Event work with a Splash Screen?"
I understand this issue was mentioned in the past but couldn't get a definitive answer that works. I have come across @thomasgalliker's suggestion of using [ExtraReturnDataAndroid](https://github.com/thudugala/Plugin.LocalNotification/issues/50) but not clear to me how this addresses the issue.

First of, all work as expected if there is no SplashActivity that precedes the MainActivity, therefore

[2022-03-31 21:37] GaborTheHutt commented on #184
On V9.x it still doesnt work for me, on 8.2 it triggers with 1 min delay.

[2022-04-05 10:47] aharwood2 commented on #265
Still works the same way as it did before as far as I can tell. [The docs](https://github.com/thudugala/Plugin.LocalNotification/wiki/Getting-NotificationTapped-to-work-with-splash-screen) are slightly out of date as the `NotificationCenter.ExtraReturnDataAndroid` key has been renamed to `NotificationCenter.ReturnRequest` by the looks of it but still operates on the same principle. The "Main Launc

[2022-04-11 16:26] AndreasReitberger opened #270 ".NET MAUI support"
I'm currently try to port my Xamarin.App to donet MAUI.
Do you plan to port this plugin as well?

.NET MAUI should be generally available in April 2022, the first RC should follow this year.

It would be awesome to see this app also working with .NET MAU.
Thank you very much for your package and efforts!

[2022-04-13 07:48] pikausp commented on #270
Did you mean it the other way around? RC comes before GA

[2022-04-13 09:39] AndreasReitberger commented on #270
Yes, sorry for the mistake. RC seems to be available now.

https://devblogs.microsoft.com/dotnet/dotnet-maui-rc-1/

[2022-04-17 18:21] jfversluis commented on #270
Have you verified that this package doesn't work right now? As it's not referencing Forms this might just work. Although it probably does reference Xamarin stuff the only thing that might be required is compile against .NET 6 and fix any breaking changes that result from that.

[2022-04-17 19:22] AndreasReitberger commented on #270
Yes, I've tried it. It added some Xamarin.iOS reference, so I thought it's not ready for .NET MAUI due to that.
But I haven't tried further to build it, though.

[2022-04-21 18:39] quintonv opened #271 "App Background or Sleep support"
Scheduling a local notification in a few minutes time works. But once the application has been idle a long time the OS shuts it down. Notifications no longer trigger now and are lost forever.

[2022-05-05 04:18] thudugala commented on #270
@AndreasReitberger  @jfversluis @pikausp

Please try 9.2.1-preview02

[2022-05-05 04:45] thudugala commented on #271
@quintonv is this an Android issue?

[2022-05-05 05:16] quintonv commented on #271
Hi, yes it's an Android issue. From what I read online it started with
android 10 or 11, can't quite remember now.

On Thu, 5 May 2022, 06:45 Elvin (Tharindu) Thudugala, <
***@***.***> wrote:

[2022-05-05 06:26] thudugala commented on #271
FYI: https://github.com/thudugala/Plugin.LocalNotification/wiki/Scheduled-Android-notifications

[2022-05-05 06:26] #271 closed

[2022-05-05 09:28] jfversluis commented on #270
Awesome job!

Seems like something might not be right for iOS. I didn't actually run it yet, but Visual Studio doesn't seem to agree

![image](https://user-images.githubusercontent.com/939291/166896486-6527ff1d-2151-4042-96b3-bb1fbffd055d.png)

[2022-05-05 10:16] jfversluis commented on #270
When running on Android and actually trying to schedule a notification I get this
![image](https://user-images.githubusercontent.com/939291/166904090-be3b9c62-fabd-4682-bb3e-58a7d93a5629.png)

[2022-05-06 11:31] jfversluis commented on #270
@AndreasReitberger does it actually work at runtime on Android?

[2022-05-06 11:36] AndreasReitberger commented on #270
@jfversluis
Haven't setup any Android devices yet, so I can't tell if it actually works. I just do not get any build errors if I switch to Android target. Once iOS is working I'll try it at runtime :)

[2022-05-09 20:01] thudugala commented on #270
investigating

![image](https://user-images.githubusercontent.com/4112014/167488173-f608b638-93dc-4f13-b5bf-a60c1d7582a9.png)

[2022-05-18 04:02] AndreasReitberger commented on #270
@thudugala any update on this?
Thank you!

[2022-05-18 05:44] thudugala commented on #270
@AndreasReitberger Can you please try out 9.2.1-preview03?

[2022-05-18 14:59] AndreasReitberger commented on #270
@thudugala still the same problem with iOS.

![image](https://user-images.githubusercontent.com/2952443/169072803-dd71425b-d7c9-440f-90dc-837987fe3d65.png)

![image](https://user-images.githubusercontent.com/2952443/169072910-a1793428-607f-40e4-b21c-c53fc6d11411.png)

[2022-05-18 19:18] thudugala commented on #270
@AndreasReitberger can you try the sample app for Maui in this repo?

[2022-05-19 13:04] tranb3r opened #274 "NotificationDismissed event"
We have NotificationTapped and NotificationReceived events in INotificationService.
Would it be possible to add a NotificationDismissed event ? (called when the user swipes a notification to dismiss it)
Or is there a way to do it with the current version ?

Thanks

[2022-05-20 08:04] AndreasReitberger commented on #270
HI @thudugala
I just checked the sample app.
I have the same problems on iOS as with my app.

![image](https://user-images.githubusercontent.com/2952443/169483032-d9de845f-febe-4607-beda-de6a03692fa4.png)

![image](https://user-images.githubusercontent.com/2952443/169482939-ddc0f566-ed64-4b24-8245-511703bb7e62.png)

It still says that it's not available on iOS

@jfversluis can you confirm?
Thank y

[2022-05-20 08:57] AndreasReitberger commented on #270
@thudugala
Still no success.

![image](https://user-images.githubusercontent.com/2952443/169492517-619185a5-2fd0-4e3e-be2b-d11ab5efa5b1.png)
![image](https://user-images.githubusercontent.com/2952443/169493019-5483d6d4-4c96-44bc-9fd2-9b4b2bf3a4da.png)

[2022-05-21 05:09] AndreasReitberger commented on #270
Just have forked the project and rebuild the plugin from scratch using the MAUI Library template from VS 2022 Prev.
Still, the same issue comes up.
@jfversluis any thought on this? I'm out of ideas.

[2022-05-23 11:46] thudugala commented on #270
@jfversluis @AndreasReitberger will rename NotificationCenter --> LocalNotificationCenter

[2022-05-23 11:48] jfversluis commented on #270
Perfect! Excited to have .NET MAUI support for this one! Thanks for all the effort here!

[2022-05-23 14:43] AndreasReitberger commented on #270
Seems to be working now. At least I can build the project. I'll do some further functional tests and report back if anything is not working as expected. For this issue, I'll close it because the original issue is fixed :)

Thank you @thudugala & @jfversluis for getting this package to MAUI so fast 👍🏻

[2022-05-23 14:43] #270 closed

[2022-05-31 04:39] andy-shindey opened #275 "Current_NotificationReceived fires twice when two NotificationRequests are active at the same time"
**Describe the bug**
Current_NotificationReceived fires twice when two NotificationRequests are active at the same time. When there are two reminders with two different NotificationId, active at the same time with same interval but started at different time. I get Current_NotificationReceived event twice for a given NotificationId.

**To Reproduce**
Steps to reproduce the behavior:
1. Create first

[2022-06-01 11:54] andy-shindey commented on #275
Sure, give me a couple of days to recreate the sample as close as possible to my project structure.

[2022-06-08 14:02] tranb3r opened #280 "Newtonsoft.Json dependency"
Hi,

A few months ago, you made the switch from System.Text.Json to Newtonsoft.Json.
Could you please explain why?

I think the future is System.Text.Json, and I'd like to get rid of Newtonsoft.Json in my app.
Do you think it would make sense to remove this dependency in your plugin and switch back to System.Text.Json?

Thanks!

[2022-06-09 13:45] maxchu92 commented on #157
Sorry for the late response. I just tested the newer version and it works flawlessly. Thank you for your effort!

[2022-06-09 13:50] maxchu92 commented on #157
Sorry for the late response. I just tested the newer version. In my case, both `SplashActivity.cs` and `MainActivity,cs` requires `LaunchMode = LaunchMode.SingleTask` in order for everything works. Thank you for your effort!

[2022-06-10 09:49] thudugala commented on #280
@tranb3r if you rememebr https://github.com/thudugala/Plugin.LocalNotification/discussions/217

I switch to Json.NET - Newtonsoft, as System.Text.Json was throwing exceptions in iOS

[2022-06-10 09:49] #265 closed

[2022-06-10 11:12] thudugala commented on #274
@tranb3r please try 9.2.1-preview05

[2022-06-10 11:16] thudugala commented on #274
[code]
[code]

[2022-06-12 18:01] SenexTech opened #283 "No Notifications received on iOS"
Not getting any notifications on iOS device when I create a Notification using a blank MAUI  VS2022 template.   Notifications work on Android but not iOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a blank MAUI project in VS2022
2. Install the Plugin.LocalNotification 9.2.1-preview05 using Nuget
3. Add  "LocalNotificationCenter.Setup();" in Appdelegate.cs
4. Add " await LocalNoti

[2022-06-13 08:40] tranb3r commented on #274
Thank you Elvin.

It works when the app is running. However, do you know if it's possible to run some code when a notification is dismissed AND the app is not running (for example, the notification is shown, then the app is killed by the system, and then the user dismisses the notification).

[2022-06-13 09:02] tranb3r commented on #280
I remember :) But do you think the issue still exists with more recent versions of System.Text.Json ?
Also, I see that you've removed the newtonsoft dependency for .net6 versions. Does it mean the issue is gone when using .net6? Do you plan to remove the dependency for xamarin as well?
One more question: the Serializer in LocalNoficationCenter is now 'private set'. Is there a reason for this chang